@using Radyn.Utility
@model Dictionary<int,decimal>
    @if (Model != null)
    {
        <div class="radynForm">
            @foreach (var item in Model)
            {

                <div class="item-row">
                    <div class="table-row-cap">
                        <div class="item">
                            @item.Key
                        </div>
                    </div>
                    <div class="table-row-item">
                        <div class="item">
                            <div style="float: right;">
                                @Html.TextBox("Amount-" + item.Key, item.Value.ToString("n0"), new {style = "width: 100px"})
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    }
