@using Radyn.Common.Definition
@using Radyn.Utility
@using Radyn.Web.Mvc
@model Dictionary<int,decimal>
@if (Model.Count > 0)
{
        <div class="table" dir="@Resources.Design.Direction" style="margin: 15px 0;">
            @foreach (var item in Model)
            {
                <div class="input-box-5">
                    <div class="table-row-cap width19-3percent payment-box">
                        <div class="item">
                            <div style="float: right">
                                @{Html.Radyn().CheckBox().ID("SelectRegisterType-" + item.Key).Text((item.Key == 0 ? Resources.Congress.AllDays : item.Key.ToString()) + " - ").Name("SelectRegisterType-" + item.Key).Value(item.Value.ToString()).Checked(item.Key == 0).Render(); }
                                @(item.Value.ToString("n0") + " " + ((string) ViewBag.CurrencyType).ToEnum<Enums.CurrencyType>().GetDescriptionInLocalization())
                            </div>

                        </div>
                    </div>
                </div>
            }

        </div>
}

