@using System
@using System.Linq
@using Radyn.Utility
@using Radyn.Web.Mvc
@using Radyn.WebApp
@using Radyn.WebApp.AppCode.Security

@model System.Collections.Generic.IEnumerable<Radyn.Congress.DataStructure.ArticleAuthors>
    <script type="text/javascript">

        function DeleteAuthor(Id) {
            if (confirm('@Resources.Common.Are_You_Soure_For_Delete')) {
                $.get("@Url.Content("~/Congress/ArticlePanel/DeleteAuthor")", { Id: Id, id: new Date().getTime() }, function (data) {
                    if (data == "true") {
                        $("#" + Id).slideUp();
                    }
                    AuthorList();
                    ShowRadynMessage();
                });
            }


        }

       
        function EditAuthor(Id,status) {
            ShowModal("@Url.Content("~/Congress/ArticlePanel/GetAuthor")", { Id: Id, status:status, date: new Date().getTime() });
           
        }
    </script>
    <style>
        body {
            color: #000000;
            font-family: Vazir;
            font-size: 12px;
        }

        .table_info {
            box-sizing: content-box;
        }
    </style>
    @{
        <div class="item-input fit header-forms">
            @if (!ViewBag.hiddenEdit)
            {
                <div>
                    <div class="item">

                        <div class="add-new m-btn waves-yellow i-add">
                            @{Html.Radyn().ImageActionLink().Text(Resources.Congress.ClickForRgisterNewAuthor).Align(Resources.Design.Align.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(Resources.Design.Align.ToEnum<ImageActionLink.Position>()).OtherAttribute(new { onclick = "EditAuthor('"+ null + "','"+PageMode.Create+"');" }).Render(); }
                        </div>

                    </div>
                </div>
            }
            else
            {
                <div class="table-row-point readonly">
                    <div class="item">

                        <div>
                            @{Html.Radyn().ImageActionLink().Text(Resources.Congress.ListOfAuthors).Align(Resources.Design.Align.ToEnum<ImageActionLink.Alignment>()).ImagePosition(Resources.Design.Align.ToEnum<ImageActionLink.Position>()).Render(); }
                        </div>

                    </div>
                </div>
            }
        </div>
    }
    <div class="fit" id="DivAuthor">
    </div>
    @if (Model.Any())
    {
        <div class="big-pane fit-pane ">
            <div class="page-align">

                @{
                    Html.Radyn().Grid(Model).Name("GridAuthors").HtmlAttributes(new { style = "width:98%;margin-right: .5%" }).Columns(columns =>
                    {
                        columns.Template(articleAuthors => articleAuthors.Name).Title(Resources.EnterPriseNode.NameAndLastName).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
                        columns.Template(articleAuthors => articleAuthors.Percentage).Title(Resources.Congress.PercentageOfParticipation).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" }).Visible(SessionParameters.CurrentCongress.Configuration.EnableArticlePercentage);
                        columns.Template(articleAuthors => articleAuthors.Address).Title(Resources.Congress.Affiliation).Width(80).HeaderHtmlAttributes(new { style = "text-align:center" });
                        columns.Template(articleAuthors => articleAuthors.IsDirector ? Resources.Common.Yes : Resources.Common.No).Title(Resources.Congress.IsDirector).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
                        columns.Template(articleAuthors =>
                                  "<a style='cursor: pointer;'  onclick= \"EditAuthor('" + articleAuthors.Id + "','"+PageMode.Edit+"')\" >" +
                                  " <img width='18' align='absmiddle' title='" + Resources.Common.Edit + "' src='" + Url.Content("~/Content/Images/edit.png") + "' />" + "</a> | " +
                                  "<a style='cursor: pointer;'  onclick = \"DeleteAuthor('" + articleAuthors.Id + "')\"  >" +
                                  " <img width='18' align='absmiddle' title='" + Resources.Common.Delete + "' src='" + Url.Content("~/Content/Images/Delete-Close.png") + "' />" + "</a>  ").Encode(false).Width(300).Visible(!(bool)ViewBag.hiddenEdit);
                    })
                        //
                        .Sortable(sorting => sorting.Enabled(true))
                        .Pageable(paging => paging.Enabled(true))
                        .Filterable(filtering => filtering.Enabled(true))
                        //            .Footer(true)
                        .Render();
                }
            </div>
        </div>
    }



