@using Radyn.FileManager
@using Radyn.Utility
@using Radyn.Web.Mvc
@using Radyn.Web.Mvc.UI
@model List<Radyn.Slider.DataStructure.SlideItem>


<div class="container">
        <h4 class="text-center margin-b-30">
            @Resources.WebDesign.Award &nbsp;|&nbsp;@Resources.WebDesign.Certificate
        </h4>
        <div id="owl_certificates" style="position: relative; top: 0px; right: 0px; width: 1170px; height: 100px; overflow: hidden;">
            <div u="slides" style="position: absolute; right: 0px; top: 0px; width: 100%; height: 100px; overflow: hidden;">
                @{
                    if (Model != null)
                    {
                        string classitem = "";
                        for (int i = 0; i < Model.Count; i++)
                        {
                            <div data-toggle="modal" data-target="#imgModal">
                                <img u="image" alt="/RadynFileHandler/@Model[i].ImageId" src="/RadynFileHandler/@Model[i].ImageId" />
                                <div class="title_cert">
                                    @Model[i].Title
                                </div>
                            </div>
                        }
                    }
                }
                @{
                    if (Model != null)
                    {
                        string classitem = "";
                        for (int i = 0; i < Model.Count; i++)
                        {
                            <div data-toggle="modal" data-target="#imgModal">
                                <img u="image" alt="/RadynFileHandler/@Model[i].ImageId" src="/RadynFileHandler/@Model[i].ImageId" />
                                <div class="title_cert">
                                    @Model[i].Title
                                </div>
                            </div>
                        }
                    }
                }
            
            </div>
        </div>
</div>
             


