/* JustForLoginForms */

/* Exhibz */

.exhibz-theme .ui-h-menu {
    background-image: none;
    min-height: inherit
}


.exhibz-theme .footer, .exhibz-theme .ui-footer {
    background: transparent;
}

.exhibz-theme .ui-sheet {
    height: auto;
    background-image: linear-gradient(160deg, #321575 31%, #f2295b 100%);
}

.exhibz-theme .ui-content-nav .container-box {
    margin: 0;
}

.exhibz-theme .ui-sheet .ui-content-nav .container-hd {
    top: 0
}

.homa-footer .menu-web li a {
    color: #fff;
}

.exhibz-theme .ui-h-menu .navigation-menu {
    margin-top: 25px !important;
}

@media(max-width: 768px) {
    .exhibz-theme .ui-h-menu {
        display: none;
    }



    .exhibz-theme .ui-sheet {
        height: 100%;
        background-image: none;
        overflow: hidden;
        position: relative;
    }

        .exhibz-theme .ui-sheet:after {
            content: "";
            width: 100%;
            left: 0;
            height: 100%;
            position: absolute;
            bottom: 0;
            filter: blur(6px);
            right: 0;   
            transform: scale(1.5);
            background-repeat: no-repeat;
            background-image: url(../../Exhibz/Img/login.jpg);
            background-size: cover;
            background-position: left;
        }

    .exhibz-theme .ui-content-nav {
        position: relative;
        z-index: 5
    }
}
/* Exhibz */
