@using Radyn.Web.Mvc
@model List<KeyValuePair<Radyn.Congress.DataStructure.SupportType, bool>>
<div class="fit">
    <div class="table-row-cap">
        <div class="item">
             @Resources.Congress.SelectSupportTypeforMainPage
        </div>
    </div>
    @{short index = 0;
      for (int r = -1; r < (Model.Count() - 1) / 6; r++)
      {
        <div class="table-row-item drp table-fit">
            <div class="item">

                @for (int c = 0; c < 6; c++)
                {
                    if (index < Model.Count)
                    {
                        Html.Radyn().CheckBox().ID("CheckSelect" + "," + Model[index].Key.Id).Checked(Model[index].Value).Name("CheckSelect" + "," + Model[index].Key.Id).Enabled((bool)ViewBag.enable).Render(); 
                        @Model[index].Key.Title
                       
                    }
                    index++;
                }
            </div>
        </div>
      }
    }
</div>


