@import url('../../../AppCode/Fonts/kanit-v5-latin/stylesheet.css');

body {
    direction: ltr;
}

.content-slide > div p, .content-slide > span, .list-nav-content > li > a, .list-nav-content > li > a span {
    text-align: left;
    font-family: Kanit;
}

.list-nav-content > li > a {
    width: max-content;
    width: -moz-max-content;
}

    .list-nav-content > li > a span {
        width: max-content;
        width: -moz-max-content;
        font-size: 16px;
    }

@media (min-width: 768px) {
    .list-nav-content > .has-child:after {
        right: 0;
    }

    #accordian ul ul li a {
        text-align: left;
    }
}


@media (min-width: 992px) {
    .dropdown-li {
        right: auto;
        left: -1px;
    }

    .list-nav-content > li {
        float: left
    }

    /* .content-navigation-menu { */
    /*     margin-left: -60px; */
    /* } */
}

.content-slide > div.button-group input[type="button"], .default-button, .archive-link a, .newsletter .login-main input[type="button"], .vip-guest-box .download-box {
    font-family: Kanit;
    font-weight: 500;
    float: left
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left
}

.Exhibz .event-box .head-event, .calendar-row .head-event, .conference-details .head-event {
    text-align: left;
}

.Exhibz .head-event h2, .Exhibz .head-event .big-head {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 40px;
    font-family: Kanit;
}

.Exhibz .head-event {
    font-family: Kanit;
    width: 100%;
    float: left;
}

.Exhibz .event-box .head-event span {
    font-size: 14px;
    width: 100%;
    text-align: left;
    display: inline-block;
}

.head-event svg {
    float: left;
}

.head-event p {
    padding: 25px 30px 0 0;
    text-align: left;
    direction: ltr;
}

.event-box .default-button {
    bottom: -32px;
    left: 14px;
    right: auto;
}

.event-item img {
    right: -9px;
}

.event-item {
    padding: 20px 65px 45px 45px;
}

    .event-item label, .about-us-item .circle {
        padding: 24px 27px 11px 33px;
        left: auto;
        right: 0;
        border-radius: 64px 0 0 0;
    }


    .event-item h4 {
        font-family: Kanit;
        font-weight: 500;
        direction: ltr;
        text-align: left;
    }

    .event-item p {
        text-align: left;
        direction: ltr;
    }

.mini-head {
    display: none !important
}

.conference-action > .row {
    width: 100%;
    display: inline-block
}

.conference-action-content > div {
    direction: ltr
}

    .conference-action-content > div span {
        font-size: 14px;
        font-weight: 600;
    }

    .conference-action-content > div p {
        text-align: left;
        font-weight: 400;
    }

    .conference-action-content > div h3 {
        text-align: left;
        font-weight: 400;
        font-family: Kanit;
        width: 80%;
        margin-left: 0;
    }

.conference-calendar .tab-panel a label {
    font-family: Kanit;
    font-weight: 500;
    font-size: 30px;
}

.schedule-listing, .schedule-content {
    direction: ltr;
}

.schedule-head span {
    text-align: left;
    font-size: 15px;
}

.schedule-text span {
    float: left;
}


.schedule-text h3 {
    text-align: left;
    font-weight: 500;
    color: #585858;
    font-family: Kanit;
    direction: ltr;
}

.schedule-text {
    padding: 40px 40px 40px 10px;
}

.schedule-content {
    border: 1px dashed #e5e5e5;
    border-left: none;
}

.schedule-text p {
    font-family: kanit;
    direction: ltr;
    font-size: 17px;
}

.news-section > .news-box.element-filter {
    float: left;
}

.news-container .news-box-content .n-more {
    right: auto;
    font-family: kanit;
    left: 46px;
    font-weight: 400;
    color: #989898;
}

    .news-container .news-box-content .n-more:after {
        left: -27px;
        right: auto;
    }

.news-container .news-box-content .n-title, .news-container .news-box-content .n-lead.filter-text {
    float: left;
    text-align: justify;
    direction: ltr;
    font-size: 25px;
    font-family: kanit;
    font-weight: 500;
    min-height: 45px;
}

.news-container .news-box-content .n-lead.filter-text {
    font-size: 16px;
    text-align: left;
    color: #8a8a8a;
    font-weight: 400;
}

.news-container .news-box-content .n-lead a:after {
    content: "\f178";
    right: auto;
    left: 82px;
}

.news-container .news-box-content .n-lead a {
    font-weight: 500;
    font-family: kanit;
}

.conference-details .tab-panel .tab-select {
    margin: 0 18px 0 0
}

.conference-details .tab-panel .tab-select, .tab-panel {
    float: left;
}

.conference-detail-content p {
    text-align: left
}

.conference-details .head-event span {
    font-size: 16px;
    font-weight: 500;
}

.conference-details .head-event h2 {
    font-size: 28px;
}

.conference-detail-content .tab-content, .conference-detail-content .head {
    font-family: kanit;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
}

.conference-detail-content li {
    direction: ltr;
    text-align: left;
}

    .conference-detail-content li label {
        direction: ltr;
    }

.radyn-Resources-a > a {
    display: inline-block
}

    .radyn-Resources-a > a:hover {
        color: #ff007a;
    }

.radyn-Resources-a img {
    margin: 1px 9px !important;
    float: left;
}

.header-page {
    position: inherit
}

.company-logo {
    float: left;
}

.list-nav-content {
    float: right
}

    .list-nav-content > li > a.btn-white {
        font-size: 18px;
        font-weight: 500;
    }


input[type="text"] {
    float: left;
    text-align: left;
}

.newsletter .login-main .captcha-control {
    position: absolute;
    top: 157px;
    right: 0;
    left: auto;
}

.login-data-row svg {
    right: auto;
    left: 28px
}

.radyn-Resources.license a p, .radyn-Resources.license a img {
    float: none !important;
}

.radyn-Resources.license a img {
    margin: -3px 0 0 0 !important;
    display: inline-block;
}

.footer-responsive > p {
    font-family: monospace;
    font-size: 13px !important;
    color: #bdbdbd !important;
}

.new-account {
    right: auto;
    left: 205px;
}

@media(max-width: 992px) {
    .exhibz-theme .login-main .login-avatar {
        left: auto;
        right: -50% !important;
    }

    .language-bar {
        z-index: 9;
    }

    .open-nav .list-nav-content {
        padding: 40px 0;
    }

    .r-collapse {
        left: 0;
        right: auto;
        border-radius: 0 10px 13px 0;
        top: 40px;
    }

    .bar1, .bar2, .bar3 {
        margin: 4px 5px;
    }

    .r-nav, .r-nav:after, .r-nav:before {
        border-radius: 0 0 calc(80% + 200px) 0;
    }

        .r-nav:after {
            border-radius: 0 0 102% 0;
        }

    .content-navigation-menu {
        float: left;
    }

    .r-nav.open-nav:after {
        transform: rotate(9deg);
    }

    .company-logo {
        left: auto;
        right: -150%;
    }

    .open-nav .company-logo {
        margin-top: 30px;
        left: auto;
        right: 18px;
    }

    .open-nav .dropdown-li > li > a span, .open-nav .list-nav-content > li > a span {
        float: left;
    }

    .navigation-menu.open-nav .list-nav-content li a {
        float: left;
    }

    .dropdown-li {
        float: left;
    }

    #accordian ul ul li a span:after {
        left: -15px;
        right: auto
    }
}


@media(max-width: 768px) {
    .exhibz-theme .login-main .login-avatar {
        position: inherit !important;
        left: 0;
        right: 0 !important;
    }

    .new-account {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .section-person-info:after {
        right: 0;
    }
}

.captcha-box {
    left: auto;
    right: 10px;
}

.user-panel-view, .userloggedbase {
    float: left;
}

.user-home-items .d-item p {
    text-align: left !important;
    right: auto !important;
}

.user-panel-info .userinfo > b {
    text-align: center !important;
}

.ui-sheet.ui-user input[type="checkbox"] + label {
    margin: 3px 0 0px 9px;
}

.user-panel-info .userinfo span div {
    text-align: center !important;
}

.user-home-items .d-item {
    padding: 50px 25px 50px 20px;
    float: left;
}

.ui-sheet.ui-user .radyn_grid .paginate_buttons {
    border: none
}

.ui-user .big-pane {
    float: right;
}

.ui-sheet.ui-user .topbar {
    right: auto;
    left: 0
}

.ui-user .topbar svg {
    right: auto;
    left: 25px;
}

.ui-user .topbar .title-row {
    float: left;
    width: 80%;
    margin-left: 58px;
    text-align: left;
}

.ui-sheet.ui-user .topbar {
    top: -121px;
}

.homa-footer .menu-web li a::before {
    right: auto;
    left: -24px;
}

.menu-web {
    direction: ltr;
}

.ui-sheet.ui-user .page-caption h2 {
    text-align: left
}

.button-div {
    float: left !important;
}

.ui-sheet .c-widget-footer .select-row .m-btn td input, .ui-sheet .m-btn tr > td a, .ui-sheet .button-div tr td:last-child input[type="submit"], .ui-sheet .c-widget-footer .m-btn td input {
    padding: 14px 13px 11px 14px !important;
    float: left;
}

.item-input .table-row-cap > div.item {
    float: left !important;
    text-align: left !important;
    width: 100%;
}

.big-pane .header-forms .item > div {
    width: 100%;
}

.c-widget .header-forms table a:after {
    right: auto;
    left: -25px;
}

.header-forms table > tbody > tr > td {
    text-align: left;
}

.item-input .table-c-fit {
    text-align: left
}

.ui-sheet .users-page .table-row-item .item > div {
    float: right !important;
}

.ui-sheet .users-page .two-col-row .m-btn.icon-btn + div, .ui-sheet .users-page .en-dir .table-row-item .item > div {
    float: left !important;
}

.c-widget-content legend.page-legend {
    text-align: left;
}

.content-pro-users label {
    font-size: 19px;
    font-family: Kanit;
}


.price-ticket-page h3, .pro-users p, .price-items p {
    text-align: left
}

.price-items span strong {
    margin: 8px 0 0 -3px;
    font-family: kanit;
    transform: translateY(-18px) translateX(59px);
}

.price-items p:after {
    right: auto;
    left: 0;
}

.pro-users .head-event svg {
    float: none;
}

.pro-users .widget-title.head-event, .ui-content-nav .news-container.full-bg .pro-users h2.widget-title, .price-items h4 {
    font-family: Kanit;
}

.price-items h4 {
    font-size: 29px;
    font-family: Kanit;
    font-weight: 500;
}


.secretary-message .r-row > div {
    padding-right: 15px;
    padding-left: 0;
    float: left;
}

.speaker-img:after {
    left: auto;
    right: -40px;
}

.secretary-message span {
    float: left;
    font-family: kanit;
    text-align: left;
    font-size: 40px;
    font-weight: 500;
}

.secretary-message p {
    float: left;
    direction: ltr;
    text-align: justify;
    padding: 0 40px 40px 0;
}

.speaker-img img {
    box-shadow: -4px -5px 14px #e2e2e2;
}

.users-page .widget {
    background-color: transparent !important
}

.ad-nav .image-item-gallery {
    float: left;
}

.faq-box .tab-slide {
    background-color: #E7015E;
    color: #fff;
    padding: 15px 15px 15px 42px;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
    text-align: left;
    line-height: 1.7;
    position: relative;
}

.faq-box .tab-slide {
    padding: 15px 42px 11px 15px;
    text-align: left;
    direction: ltr
}

    .faq-box .tab-slide:after {
        left: auto;
        right: 19px;
    }

.about-us-item h3 {
    font-family: kanit;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    margin: 0 0 25px 0;
}

.about-us-item {
    direction: ltr;
    text-align: left;
}

    .about-us-item .circle:after {
        left: 22px;
    }

@media(max-width: 768px) {  
    .about-us-box:after {
        z-index: -1;
    }
}

.centric-head {
    font-size: 25px;
    text-align: left;
    font-weight: 500;
    font-family: kanit
}

.centric-content {
    text-align: left;
    direction: ltr;
}

    .centric-content li:after {
        content: "\f101";
        right: auto;
        left: 0;
    }

    .centric-content li {
        padding: 5px 15px 5px 25px;
    }
