
@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: bold;
    src: url('../../../../AppCode/Fonts/Vazir/eot/Vazir-Bold-FD.eot'), url('../../../../AppCode/Fonts/Vazir/woff2/Vazir-Bold-FD.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../../../../AppCode/Fonts/Vazir/woff/Vazir-Bold-FD.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../../../AppCode/Fonts/Vazir/ttf/Vazir-Bold-FD.ttf') format('truetype');
}


@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: 500;
    src: url('../../../../AppCode/Fonts/Vazir/eot/Vazir-Medium-FD.eot');
    src: url('../../../../AppCode/Fonts/Vazir/eot/Vazir-Medium-FD.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../../../../AppCode/Fonts/Vazir/woff2/Vazir-Medium-FD.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../../../../AppCode/Fonts/Vazir/woff/Vazir-Medium-FD.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../../../AppCode/Fonts/Vazir/ttf/Vazir-Medium-FD.ttf') format('truetype');
}

@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: 300;
    src: url('../../../../AppCode/Fonts/Vazir/eot/Vazir-Light-FD.eot');
    src: url('../../../../AppCode/Fonts/Vazir/eot/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../../../../AppCode/Fonts/Vazir/woff2/Vazir-Light-FD.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../../../../AppCode/Fonts/Vazir/woff/Vazir-Light-FD.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../../../AppCode/Fonts/Vazir/ttf/Vazir-Light-FD.ttf') format('truetype');
}

@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: 200;
    src: url('../../../../AppCode/Fonts/Vazir/eot/Vazir-Thin-FD.eot');
    src: url('../../../../AppCode/Fonts/Vazir/eot/Vazir-Thin-FD.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../../../../AppCode/Fonts/Vazir/woff2/Vazir-Thin-FD.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../../../../AppCode/Fonts/Vazir/woff/Vazir-Thin-FD.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../../../AppCode/Fonts/Vazir/ttf/Vazir-Thin-FD.ttf') format('truetype');
}

@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url('../../../../AppCode/Fonts/Vazir/eot/Vazir-FD.eot');
    src: url('../../../../AppCode/Fonts/Vazir/eot/Vazir-FD.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../../../../AppCode/Fonts/Vazir/woff2/Vazir-FD.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../../../../AppCode/Fonts/Vazir/woff/Vazir-FD.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../../../AppCode/Fonts/Vazir/ttf/Vazir-FD.ttf') format('truetype');
}


.content-item {
    border: none !important;
    width: 100%;
}


.custom-ui-menu img, .custom-ui-main img {
    border: none;
    width: 21px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    position: absolute;
}

.item-list .custom-ui-main > img {
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
}
.custom-ui-menu img, .custom-ui-menu img {
    background: transparent;
}

.value-content a, .value-content-main a {
    font-size: 12px;
    font-family: Vazir;
    padding: 10px !important;
    color: #737373;
}

.value-content-main a {
    margin-right: 40px !important;
}



    .ui-menu-item:active {
        background-color: #F6F6F6;
    }


.custom-ui-menu {
    text-align: right;
}

.custom-ui-main img {
}

.item-list {
    text-align: right;
}

.content-item {
    width: 200px;
    padding: 0;
}
.ui-menu-item {
    padding: 0 !important;
        border-bottom: 1px solid #c8c8c8;
}