@using Radyn.Web.Mvc

<div>
    <input type="text" id="txtCustomerFullName" runat="server" size="30" readonly="readonly"
        skinid="txt" />
    <input type="button" name="namebtn" value="go" onclick="var obj  = showModal('/EnterPriseNode/EnterPriseNode/Search',670,500);" />
    @ViewBag.Message
</div>
