@using Radyn.News.Tools
@using Radyn.FileManager
@using Radyn.WebApp.AppCode.Security
@model List<Radyn.News.DataStructure.News>
@{
    ViewBag.Title = Resources.News.NewsList;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
    <script type="text/javascript">
        function NewsClick(id, title) {
            window.location = '/News/News/NewsView/' + id + '/' + title;

        }

    </script>
}
<div class="shell">
    <div class="news-content" style="margin-top: 30px; margin-bottom: 10px; min-height: 600px;">
        <div class="content-item-header">
            <div id="font14" class="content-item-header-caption">
               @ViewBag.Category
            </div>
        </div>
        <table border="0" cellpadding="4" cellspacing="4" align="center">
            @{short index = 0;
              for (int r = -1; r < (Model.Count() - 1) / 4; r++)
              {
                <tr>
                    @for (int c = 0; c < 4; c++)
                    {
                        if (index < Model.Count)
                        {

                        <td class="EditRow" style="vertical-align: top; width: 200px;">
                            <div class="EditFiled">
                                <a style="text-decoration: none;" href="/News/News/NewsView?id=@Model[index].Id">
                                    @Model[index].GetNewsContent(SessionParameters.Culture).Title1 </a>
                            </div>
                            <div style="height: 5px;">
                            </div>
                            <div style="text-align: center; vertical-align: top;">
                                <a style="text-decoration: none;" href="/News/News/NewsView?id=@Model[index].Id">
                                    @{
                            if (Model[index].ThumbnailId.HasValue)
                            {
                                Html.RadynFile().Image().ID(Model[index].ThumbnailId.Value).Height(70).Width(100).Style("border: solid 1px grey;").Alt(Model[index].GetNewsContent(SessionParameters.Culture).Title1).Render();
                            }
                                    }
                                </a>
                            </div>
                        </td>
                        }
                        index++;
                    }
                </tr> 
              }
            }
        </table>
    </div>
</div>
