@using Radyn.FileManager
@using Radyn.News.Tools
@using Radyn.Web.Mvc.Utility
@using Radyn.WebApp.AppCode.Security
@model Radyn.News.DataStructure.News
@{
    ViewBag.Title = Model.GetNewsContent(SessionParameters.Culture).Title1;
    Layout = "~/Views/Shared/User_Layout.cshtml";
}
@section Head{}
<div class="shell">
    <div class="news-content" style="margin-top: 30px; margin-bottom: 10px; min-height: 600px;">

        <div class="article-board" style="width: 890px;">
            @if (Model.ThumbnailId.HasValue)
            {
                Html.RadynFile().Image().ID(Model.ThumbnailId.Value).Height(100).Width(200).OtherAttribute(new { style = "float:right; margin-left:10px;" }).Render();
            }
            <div class="article-box" style="border: none;">
                <div class="article-box-lead">
                    @Model.GetNewsContent(SessionParameters.Culture).Lead
                </div>

                <div class="article-box-lead">
                    @Model.GetNewsContent(SessionParameters.Culture).Sutitr
                </div>
                <div class="article-text">
                    @{Html.HtmlEncoder(Model.GetNewsContent(SessionParameters.Culture).Body);}
                </div>
            </div>
        </div>
    </div>
</div>



