@using Radyn.Congress.DataStructure
@using Radyn.FileManager
@using Radyn.Web.Mvc
@using Radyn.Web.Mvc.Utility
@using Radyn.WebApp
@using Radyn.WebApp.AppCode.Security
@using Radyn.WebApp.Areas.EnterpriseNode.ExtentionTools
@model IEnumerable<ArticleFlow>

<script type="text/javascript">
    $(document).ready(function () {
        $("#divShowArticleflow").hide();
        $("#Divhideadflow").hide();

    });

    function ShowDivAticleFlow() {
        $("#divShowArticleflow").slideDown();
        $("#Divhideadflow").show();
        $("#Divshowadflow").hide();

    }
    function HideDivAticleFlow() {
       $("#divShowArticleflow").slideUp();
       $("#Divhideadflow").hide();
       $("#Divshowadflow").show();
    }
</script>

    @if (Model.Any()&& Model.Count()>1)
    {
        <div class="fit" id="Divshowadflow">
            @{Html.Radyn().ImageActionLink().Align(ImageActionLink.Alignment.Center).Text(Resources.Congress.ArticleFlow).ImageUrl(Url.Content("~/Content/Images/down.png")).OtherAttribute(new { onclick = "ShowDivAticleFlow();" }).ImagePosition(ImageActionLink.Position.Left).ImageWidth("25").ImageHeight("25").Render(); }
        </div>
        <div class="fit" id="Divhideadflow">
            @{Html.Radyn().ImageActionLink().Align(ImageActionLink.Alignment.Center).Text(Resources.Congress.ArticleFlow).ImageUrl(Url.Content("~/Content/Images/up.png")).OtherAttribute(new { onclick = "HideDivAticleFlow();" }).ImagePosition(ImageActionLink.Position.Left).ImageWidth("25").ImageHeight("25").Render(); }
        </div>
        <div class="fit" id="divShowArticleflow">
            @{ var counter = 1;}
            @{Html.Radyn().Grid(Model).Name("GridFlow").HtmlAttributes(new { style = "width: 98%; margin: 0auto", @class = "rdn_grid" }).Columns(columns =>
                  {
                      columns.Template(item => counter++).Title(Resources.Common.GridRow).Filterable(false);
                      columns.Template(item => item.Sender.DescriptionField).Title(Resources.Congress.Sender);
                      columns.Template(item => item.Receiver != null ? item.Receiver.DescriptionField : Resources.Congress.Siteadmin).Title(Resources.Congress.Reciver);
                      columns.Template(item => (item.SaveDate +"-"+ item.SaveTime)).Title(Resources.Common.Date);
                      columns.Template(item => item.Remark).Title(Resources.Congress.Comment).Encode(false);
                      columns.Template(item => (item.LastRefreeView)).Title(Resources.Congress.RefereeView);
                      columns.Template(ProjectType =>ProjectType.AttachmentFileId != null?"<img src=\""+@Url.Content("/Areas/Congress/Content/Images/go-bottom.png")+"\" height=\"20\" width=\"20\" style=\"cursor: pointer\" onclick=\"window.open('"+(FileManagerContants.FileHandlerRoot + ProjectType.AttachmentFileId + "?dl=true")+"')\"":"").Title(Resources.Congress.RefereeAttachmentFile).Encode(false);

                    
                  })
                          .Sortable(sorting => sorting.Enabled(true))
                          .Pageable(paging => paging.Enabled(true)).Culture(SessionParameters.Culture)
                          .Filterable(filtering => filtering.Enabled(true))
                          .Render();}
            
        </div>

                                                }

















