<div class="item-input file-upload">
    <div class="table-row-cap">
        <div class="item">
            @Resources.Congress.Attachment
        </div>
    </div>
    <div class="table-row-item drp ">
        <div class="item">
            @{
                Html.RenderAction("FileUploader", "FileUpload", new { area = "FileManager", fileName = "FlowAttachment" });

            }
        </div>
    </div>
</div>



<div class="fit">
    <div class="item-row fit">
        <div class="table-row-cap ">
            <div class="item">
                @Resources.Congress.Description
            </div>
        </div>
        <div class="table-row-item ">
            <div class="item">
                @Html.TextArea("Comments", new {Style = "height:90px;"})
            </div>
        </div>
    </div>
   
</div>
