@using Radyn.Utility
@using Radyn.Web.Mvc
@model List<Radyn.Congress.Tools.Enums.CongressDefinitionReportTypes>
    @{
        ViewBag.Title = @Resources.Congress.ReportResetFactory;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @section Head{

    }
    @section PageTitle
{
        @Resources.Congress.ReportResetFactory
    }
    @section PageAction
{
        <div class="button-div m-btn waves-green i-save">
            @{Html.Radyn().ImageActionLink().Text(Resources.Common.Save).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render(); }
        </div>
        <div class="button-div m-btn waves-red i-return">
            @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Congress/ReportPanel/UserCards")).Text(Resources.Common.Return).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}

        </div>
    }
    @section PageActionDown
{
        <div class="button-div m-btn waves-green i-save">
            @{Html.Radyn().ImageActionLink().Text(Resources.Common.Save).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render(); }
        </div>
        <div class="button-div m-btn waves-red i-return">
            @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Congress/ReportPanel/UserCards")).Text(Resources.Common.Return).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}

        </div>

    }
    @using (Html.BeginForm())
    {


        <div class="radynForm">
            @{
                const int column = 3;

                var couter = -1;
                foreach (var valuePair in Model)
                {
                    couter++;
                    if (couter % column == 0)
                    {
                    }
                    <div>
                    </div>

                    <div>
                        <div class="table-row-cap width30percent">
                            <div class="item">
                                <div style="float: right">
                                    @{Html.Radyn().CheckBox().ID("Check-" + valuePair).Name("SelectedReport").Value(valuePair.ToString()).Render(); }

                                </div>
                                <div style="float: right">@valuePair.GetDescriptionInLocalization()</div>
                            </div>
                        </div>

                    </div>
                }
            }
        </div>
    }
