@model Guid
@{
    ViewBag.Title = "ShowImage";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Head{}
<div   align="center" dir="rtl" style="border-color: greenyellow;border-width: 10px;" >
    <img src="@Radyn.FileManager.FileManagerContants.FileHandlerRoot@Model" width="600" height="350" />
    <input type="button" value="بستن" style="width: 150px; height: 35px; horiz-align: center" onclick="Close_thisModal();" />
</div>

