@using Radyn.Common.Definition
@using Radyn.Utility
@using Radyn.Web.Mvc;

@model IEnumerable<Radyn.Reservation.DataStructure.ChairType>
    @{
        ViewBag.Title = Resources.Reservation.ChairType;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @section Head{}

    @section PageTitle
{
        @Resources.Reservation.ChairTypeList
    }
    @section PageAction
{
        <div class="button-div m-btn waves-blue i-add">
            @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Reservation/ChairType/Create")).Text(Resources.Reservation.ChairTypeNew).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).ImageHeight("20").ImageWidth("20").Render();}

        </div>
    }
    @section PageActionDown
{
        <div class="button-div m-btn waves-blue i-add">
            @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Reservation/ChairType/Create")).Text(Resources.Reservation.ChairTypeNew).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).ImageHeight("20").ImageWidth("20").Render();}
        </div>
    }
    @{Html.Radyn().Grid(Model).Name("Grid").HtmlAttributes(new { style = "width:98%;margin: 0 auto" }).Columns(columns =>
          {
              columns.Template(articleType => articleType.Title).Title(Resources.Reservation.Name).Width(200).HeaderHtmlAttributes(new { style = "text-align:center" });
              columns.Template(articleType => articleType.Hall.Name).Title(Resources.Reservation.Hall).Width(200).HeaderHtmlAttributes(new { style = "text-align:center" });
              columns.Template(hall => hall.Hall.Enabled ? Resources.Common.Enable : Resources.Common.Disable).Title(Resources.Common.Enable).Width(80).HeaderHtmlAttributes(new { style = "text-align:center" });
              columns.Template(articleType => articleType.ValidAmount + " " + articleType.CurrencyType.ToEnum<Enums.CurrencyType>().GetDescriptionInLocalization()).Title(Resources.Reservation.Amount).Width(200).HeaderHtmlAttributes(new { style = "text-align:center" });
              columns.Template(pivot =>
                "<a style='cursor: pointer;'  href='" + Url.Content("~/Reservation/ChairType/Details?Id=" + pivot.Id) + "'>" +
                " <img width='18' align='absmiddle' title='" + Resources.Common.Detail + "' src='" + Url.Content("~/Content/Images/details.png") + "' />" + "</a> | " +
                "<a style='cursor: pointer;'  href='" + Url.Content("~/Reservation/ChairType/Edit?Id=" + pivot.Id) + "'> " +
                " <img width='18' align='absmiddle' title='" + Resources.Common.Edit + "' src='" + Url.Content("~/Content/Images/edit.png") + "' />" + "</a> | " +
                "<a style='cursor: pointer;'  href='" + Url.Content("~/Reservation/ChairType/Delete?Id=" + pivot.Id) + "'>" +
                " <img width='18' align='absmiddle' title='" + Resources.Common.Delete + "' src='" + Url.Content("~/Content/Images/Delete-Close.png") + "' />" + "</a> ").Encode(false).Width(300);

          })

        .Sortable(sorting => sorting.Enabled(true))
        .Pageable(paging => paging.Enabled(true))
        .Filterable(filtering => filtering.Enabled(true))
        //.Footer(true)
        .Render();}
