@using Radyn.FileManager
@using Radyn.FormGenerator.Tools
@using Radyn.Web.Mvc;
@using Radyn.WebApp.Areas.Congress.Tools
@using Radyn.WebApp.Areas.FormGenerator.Tools
@model Radyn.Congress.DataStructure.User
@{
    ViewBag.Title = Resources.Common.Detail;
    Layout = "~/Areas/Congress/Views/Shared/CongressUserLayout.cshtml";
}
@section Head{}


@section PageAction
{
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Text(@Resources.Common.Return).NavigateUrl(Url.Content("~/Congress/UserGroup/Index")).Render(); }



    </div>
}
@section PageActionDown
{
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Text(@Resources.Common.Return).NavigateUrl(Url.Content("~/Congress/UserGroup/Index")).Render(); }


    </div>
}
@Html.ValidationSummary(true)
<div class="radynForm">
    @{

        Html.RenderAction("GetDetails", "User", new { area = "Congress", Id = ViewBag.Id });
    }
</div>