/*
    جگری
*/
.my-nav, .ui-top-bar { background: #638388; }

.radyn-footer, .footer, .ui-footer, .footer-company-box { background: #638388; }


.header-lan li a, .language-btns table, .language-btn tr { background: #5b7779; }


.header, .header-nav-item > li { background: #9b5467 !important; }

.nav-left-btn, .header-nav-item > li:hover, .header-nav-item li:focus {
    background-color: #ab707c;
    background: #ab707c !important;
}



@media (max-width: 1200px) {
    .nav-left-btn, .header-nav-item > li:hover, .header-nav-item li:focus { background-color: #ab707c; }

    .nav-left-btn { background: transparent !important; }
}

.border-title { border-color: #5b7779; }

.users-page .container-header-item:before { background: #5b7779 }

.login-container-bg .login-data-row-item input[type='submit'], .login-container-bg .login-data-row-item input[type='button'], .login-data-row-item input[type='submit'], .login-data-row-item input[type='button'], .btn-printcart, .archive-link > a{ background-color: #79989b; }

.nav-left-btn:hover, .nav-left-btn:focus { background-color: #a36471 !important; }

.header-lan li a:hover, .language-btns table:hover, .language-btn tr:hover { background: #ab707c; }

.login-data-row-item input[type='submit']:hover, .login-data-row-item input[type='button']:hover, .btn-printcart:hover, .btn-printcart:focus {
    opacity: 0.8;
    background-color: #637c7f;
}

@media (min-width: 768px) {
    .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .header-nav-item li li:hover, .header-nav-item li li:focus {
        color: #ffffff;
        background-color: #9b5467;
    }

    .navbar-nav > li > .dropdown-menu > li > .dropdown-menu > li > a:hover, .navbar-nav > li > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > a:hover, .navbar-nav > li > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > a:hover { box-shadow: inset -5px 0px 15px #884a5a; }
}

@media (max-width: 768px) {
    .header-nav-item > li:hover, .header-nav-item li:focus, .nav-left-btn:hover, .nav-left-btn :focus { background: rgba(253, 253, 253, 0.0784313725490196) !important; }
}

/*---------------------User-Panel-------------------------*/


.userloggedimg .liner-div { background: #9b5467; }

.userinfo span, .userinfo span > div { color: #9b5467; }

.gv-header { background: #9b5467; }


.ui-sheet input[type="checkbox"]:checked:after,
.ui-sheet input[type="checkbox"]:not(:checked):after { border: 1px solid #9b5467; }

.ui-sheet input[type="checkbox"]:checked:before,
.ui-sheet input[type="checkbox"]:not(:checked):before { border-color: #9b5467; }

/*Message-panel*/

.ui-sheet .nav-mail-item:first-child { border-top-color: #824655; }

.ui-sheet .nav-mail-item span { background-color: #8c4b5c; }

.ui-sheet .nav-mail-item:hover { background-color: #8c4b5c; }

.ui-sheet .nav-mail-item:hover span { background-color: #824655; }

.ui-sheet .nav-mail-item {
    background-color: #9b5467;
    border-color: #824655;
}

.radyn_grid a, .radyn_grid a:hover, .radyn_grid a:focus, .radyn_grid a:active { color: #969696; }

/*Message-panel*/

.ui-sheet .btn-forms:hover, .ui-sheet .btn-forms:focus, .ui-sheet .btn-forms:active, .ui-sheet .c-widget .cell-item a.btn:hover, .ui-sheet .my_select-group_box .btn-info:hover {
    border-color: #824655;
    background-color: #824655;
}

.ui-sheet .btn-forms, .ui-sheet .c-widget .cell-item a.btn, .ui-sheet .my_select-group_box .btn-info {
    background-color: #9b5467;
    border-color: #9b5467;
}

.ui-sheet .radyn_grid td { border-color: #bdbdbd !important; }

.ui-sheet .radyn_grid th {
    border-color: #bdbdbd !important;
    background-color: #9b5467 !important;
}

.ui-sheet input[type="radio"]:checked:before, .ui-sheet input[type="radio"]:not(:checked):before { background: #9b5467; }

.ui-sheet .gv-row-style, .ui-sheet .gv-cell, .ui-sheet .gv-footer, .ui-sheet .gv-header { border-color: #bdbdbd; }

/*---------------------User-Panel-------------------------*/




.login-data-row-item a.login-solid-btn {
    border-color: #79989b;
    color: #79989b;
}

.login-data-row-item a.login-solid-btn:hover {
    color: #fff;
    background-color: #79989b
}

.wide-button { background: #ab707c; }

.wide-button:hover, .news-list-lead > a, .news-list-lead span { background: #9b5467; }

.aside-box .news-list-box a:hover, .aside-box .news-list-box a:active, .aside-box .news-list-box a:focus { color: #9b5467 }