/*
    سبز چمنی
*/
.my-nav, .radyn-footer, .ui-top-bar, .footer, .ui-footer, .footer-company-box { background: #3e4b54; }

.header-lan li a, .language-btns table, .language-btn tr { background: #4a5e66; }

.header, .header-nav-item > li { background: #69c4a0 !important; }

.nav-left-btn, .header-nav-item > li:hover, .header-nav-item li:focus { background-color: #56ba8f !important; }

@media (max-width: 1200px) {
    .nav-left-btn, .header-nav-item > li:hover, .header-nav-item li:focus { background-color: #56ba8f; }

    .nav-left-btn { background: transparent !important; }
}

.border-title { border-color: #4a5e66; }

.users-page .container-header-item:before { background: #4a5e66 }

.login-container-bg .login-data-row-item input[type='submit'], .login-container-bg .login-data-row-item input[type='button'], .login-data-row-item input[type='submit'], .login-data-row-item input[type='button'], .btn-printcart, .archive-link > a {
    background-color: #69c4a0;
}

.nav-left-btn:hover, .nav-left-btn:focus { background-color: #51af87 !important; }

.header-lan li a:hover, .language-btns table:hover, .language-btn tr:hover { background: #69c4a0; }

.login-data-row-item input[type='submit']:hover, .login-data-row-item input[type='button']:hover, .btn-printcart:hover, .btn-printcart:focus {
    opacity: 0.8;
    background-color: #529c7f;
}

@media (max-width: 768px) {
    .header-nav-item > li:hover, .header-nav-item li:focus, .nav-left-btn:hover, .nav-left-btn :focus { background: rgba(253, 253, 253, 0.0784313725490196) !important; }
}

@media (min-width: 768px) {
    .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .header-nav-item li li:hover, .header-nav-item li li:focus {
        color: #ffffff;
        background-color: #69c4a0 !important;
    }

    .navbar-nav > li > .dropdown-menu > li > .dropdown-menu > li > a:hover, .navbar-nav > li > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > a:hover, .navbar-nav > li > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > a:hover { box-shadow: inset -5px 0px 15px #5aa788; }
}

/*---------------------User-Panel-------------------------*/


.userloggedimg .liner-div { background: #69c4a0; }

.userinfo span, .userinfo span > div { color: #69c4a0; }

.gv-header { background: #69c4a0; }


.ui-sheet input[type="checkbox"]:checked:after,
.ui-sheet input[type="checkbox"]:not(:checked):after { border: 1px solid #69c4a0; }

.ui-sheet input[type="checkbox"]:checked:before,
.ui-sheet input[type="checkbox"]:not(:checked):before { border-color: #69c4a0; }


/*Message-panel*/

.ui-sheet .nav-mail-item:first-child { border-top-color: #5faf8f; }

.ui-sheet .nav-mail-item span { background-color: #61b594; }

.ui-sheet .nav-mail-item:hover { background-color: #61b594; }

.ui-sheet .nav-mail-item:hover span { background-color: #5faf8f; }

.ui-sheet .nav-mail-item {
    background-color: #69c4a0;
    border-color: #5faf8f;
}

.radyn_grid a, .radyn_grid a:hover, .radyn_grid a:focus, .radyn_grid a:active { color: #737373; }

/*Message-panel*/

.ui-sheet .btn-forms:hover, .ui-sheet .btn-forms:focus, .ui-sheet .btn-forms:active, .ui-sheet .c-widget .cell-item a.btn:hover, .ui-sheet .my_select-group_box .btn-info:hover {
    border-color: #5faf8f;
    background-color: #5faf8f;
}

.ui-sheet .btn-forms, .ui-sheet .c-widget .cell-item a.btn, .ui-sheet .my_select-group_box .btn-info {
    background-color: #69c4a0;
    border-color: #69c4a0;
}

.ui-sheet .radyn_grid td { border-color: #bdbdbd !important; }

.ui-sheet .radyn_grid th {
    border-color: #bdbdbd !important;
    background-color: #69c4a0 !important;
}

.ui-sheet input[type="radio"]:checked:before, .ui-sheet input[type="radio"]:not(:checked):before { background: #69c4a0; }

.ui-sheet .gv-row-style, .ui-sheet .gv-cell, .ui-sheet .gv-footer, .ui-sheet .gv-header { border-color: #bdbdbd; }



/*---------------------User-Panel-------------------------*/



.login-data-row-item a.login-solid-btn {
    border-color: #69c4a0;
    color: #69c4a0;
}

.login-data-row-item a.login-solid-btn:hover {
    color: #fff;
    background-color: #69c4a0
}

.wide-button { background: #56ba8f }

.wide-button:hover, .news-list-lead > a, .news-list-lead span { background: #69c4a0; }

.aside-box .news-list-box a:hover, .aside-box .news-list-box a:active, .aside-box .news-list-box a:focus { color: #69c4a0 }