@using Radyn.WebApp.AppCode.Security
@using Stimulsoft.Report.Mvc
@using Stimulsoft.Report.Web
@{
    ViewBag.Title = "طراحی گزارش";
    Layout = "~/Views/Shared/MainLayout.cshtml";

}

@section Head{

}
<div>
    @Html.Stimulsoft().StiMvcDesigner(new StiMvcDesignerOptions()
{
    Localization = SessionParameters.Culture=="fa-IR"? "~/StimulResource/fa.xml" : "~/StimulResource/en.xml",

    Appearance =

        {


            InterfaceType = StiInterfaceType.Auto

        },

    Actions =
        {
            GetReport = "GetDesignReport",
            SaveReport = "SaveReport",
            ExportReport = "ExportReport",
            DesignerEvent = "DesignerEvent",
            PreviewReport = "PreviewReport"



        }
})

</div>
