@using Radyn.FAQ.DataStructure
@model IEnumerable<FAQ>
@{
    ViewBag.Title = Resources.FAQ.FAQList;
    Layout = "~/Views/Shared/User_Layout.cshtml";
}
@section Head{}
<div>
    @{Html.RenderAction("FAQSearchableList", new { Date = DateTime.Now });}
</div>

