.slide-items-box:after {
    opacity: 0.65;
}

.login-container:after, .login-container:before {
    background: #008086;
    background: linear-gradient(0deg, #008086 0%, #008086 52%, #008086 100%);
}

.container-hd .login-data-row input[type="text"], .container-hd .login-data-row input[type="password"] {
    border: 2px solid #008086;
}

.input-effects svg {
    color: #008086;
}

.input-effects input:hover, .login-data-row-item.input-effects input:focus, .login-data-row-item .input-effects input:focus {
    border: 2px solid #006368 !important;
}

    .input-effects input:hover ~ svg, .userinfo span div, .userinfo b ~ span:after, .userinfo span div p:last-child:after, .userinfo b ~ span:after, .userinfo span div p:last-child:after {
        color: #006368;
    }

.ui-sheet input[type="checkbox"]:checked:before, .ui-sheet input[type="checkbox"]:not(:checked):before {
    border-color: #006368
}

::-moz-selection {
    background: #008086;
    color: #fff
}

::selection {
    background: #008086;
    color: #fff
}

.about-conference:after {
    opacity: 0.80;
}

.container-header-item:after {
    border-top: 3px solid #008086;
}

.btn-solid {
    color: #008086 !important;
    border: 2px solid #008086;
}

    .btn-solid:hover {
        color: #fff !important;
        background: #008086;
    }

@media (min-width: 992px) {
    .list-nav-content > li a span, .links-item > li a span {
        color: #ffffff;
    }

    .list-nav-content > li .dropdown-li a span:before, .ui-sheet .ui-h-menu .r-nav {
        background-color: #008086;
    }


    .list-nav-content > li:hover .dropdown-li li:hover > a span:before, .user-home-items .d-item:hover .d-item-bg, .ui-sheet input[type="radio"]:checked:before, .ui-sheet input[type="radio"]:not(:checked):before {
        background: #008086 !important;
    }
}


.r-badge span {
    background: #008086;
}

.login-container-bg .m-btn.waves-yellow {
    background-color: #008086;
}

.topbar .d-item:hover {
    border-right: 4px solid #008086;
}

.login-container-bg .m-btn.waves-yellow .waves-ripple {
    background-color: #005559;
}

.login-data-row-item .m-btn input {
    text-shadow: none
}

.header {
    background-color: #008086;
}

.current .content-slide > span, .lasts .content-slide > span {
    color: #008086;
}

.r-slider-btn:hover {
    background: #008086 !important;
}

.r-slider-btn {
    border: 3px solid #008086;
    color: #008086;
}

.items-service-input:hover {
    border-color: #008086;
    color: #008086;
}

.footer-social-media, .footer-person-item, .see-profile {
    background: #008086;
}

.section-person-info .owl-carousel .owl-nav button.owl-next, .section-person-info .owl-carousel .owl-nav button.owl-prev {
    border: 2px solid #008086 !important;
    color: #008086 !important;
}

.avas .about-conference .widget-title span:first-child, .avas .ui-content-nav .widget-title span:first-child, .items-conference label, .custom-footer ul li svg {
    color: #008086;
}

.banner-web {
    background-color: #008086;
}

.btn-yellow{
    background: #008086;
}

    .btn-white.solid:hover {
        background: #008086;
        border-color: #008086;
    }

.radyn-Resources.license {
    border-top-color: #008086
}


.content-pro-users label {
    color: #ffffff;
}

.content-pro-users {
    color: #fff;
    background-color: #008086;
}

    .content-pro-users label:after {
        border-top: 2px solid #ffffff;
    }
