.slide-items-box:after {
    opacity: 0.65;
}

.about-conference:after {
    opacity: 0.80;
}

@media (min-width: 992px) {
    .list-nav-content > li a span, .links-item > li a span {
        color: #ffffff;
    }

    .list-nav-content > li .dropdown-li a span:before {
        background-color: #cca544;
    }

    .list-nav-content > li:hover .dropdown-li li:hover > a span:before {
        background: #cca544;
    }
}

.control-gallery, .mixitup-control-active:hover {
    color: #cca544;
}

.mixitup-control-active {
    border-color: #cca544
}

.header {
    background-color: #cca544;
}

.current .content-slide > span, .lasts .content-slide > span {
    color: #cca544;
}

.r-slider-btn:hover {
    background: #cca544 !important;
}

.r-slider-btn {
    border: 3px solid #cca544;
    color: #cca544;
}

.items-service-input:hover {
    border-color: #cca544;
    color: #cca544;
}


.footer-social-media, .footer-person-item, .see-profile {
    background: #cca544;
}

.section-person-info .owl-carousel .owl-nav button.owl-next, .section-person-info .owl-carousel .owl-nav button.owl-prev {
    border: 2px solid #cca544 !important;
    color: #cca544 !important;
}

.avas .about-conference .widget-title span:first-child, .avas .ui-content-nav .widget-title span:first-child, .items-conference label, .custom-footer ul li svg {
    color: #cca544;
}

.banner-web {
    background-color: #cca544;
}

.btn-white.solid:hover {
    background: #cca544;
    border-color: #cca544;
}

.radyn-Resources.license {
    border-top-color: #cca544
}


::-moz-selection {
    background: #cca544;
    color: #fff
}

::selection {
    background: #cca544;
    color: #fff
}

.ui-sheet .ui-h-menu .r-nav {
    background-color: #cca544
}


.login-container:after, .login-container:before {
    background: #cca544;
    background: linear-gradient(0deg, #bb973d 0%, #cca544 52%, #cca544 100%);
}


.container-hd .login-data-row input[type="text"], .container-hd .login-data-row input[type="password"] {
    border: 2px solid #cca544;
}

.input-effects svg {
    color: #cca544;
}

.input-effects input:hover, .login-data-row-item.input-effects input:focus, .login-data-row-item .input-effects input:focus.container-hd .login-data-row input[type="text"], .container-hd .login-data-row input[type="password"] {
    border: 2px solid #bb973d !important;
}

    .input-effects input:hover ~ svg, .userinfo span div, .userinfo b ~ span:after, .userinfo span div p:last-child:after, .userinfo b ~ span:after, .userinfo span div p:last-child:after {
        color: #bb973d;
    }

.ui-sheet input[type="checkbox"]:checked:before, .ui-sheet input[type="checkbox"]:not(:checked):before {
    border-color: #cca544
}

.login-container-bg .m-btn.waves-yellow {
    background-color: #cca544;
    text-shadow: none
}

.topbar .d-item:hover {
    border-right: 4px solid #cca544;
}

.login-container-bg .m-btn.waves-yellow .waves-ripple {
    background-color: #bb973d;
}

.btn-solid {
    color: #cca544 !important;
    border: 2px solid #bb973d;
}

    .btn-solid:hover {
        color: #fff !important;
        background: #cca544;
    }

.list-nav-content > li:hover .dropdown-li li:hover > a span:before, .user-home-items .d-item:hover .d-item-bg, .ui-sheet input[type="radio"]:checked:before, .ui-sheet input[type="radio"]:not(:checked):before {
    background: #cca544 !important;
}

.r-badge span {
    background: #cca544;
}

.nav-mail .nav-mail-item {
    border-right: 10px solid #cca544 !important
}

.radyn_grid table tbody tr:nth-child(even) {
    background-color: rgba(243, 217, 33, 0.15) !important;
}

.gv-row-style:hover, .gv-alternaterow-style:hover, .radyn_grid tbody tr:hover td {
    background-color: rgb(247, 233, 197);
}

.container-header-item:after {
    border-top: 3px solid #cca544;
}


.content-pro-users label {
    color: #171717;
}

.content-pro-users {
    color: #171717;
    background-color: #cca544;
}

    .content-pro-users label:after {
        border-top: 2px solid #171717;
    }
