

/*User - Panel*/

@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: bold;
    src: url('../../../AppCode/Fonts/Vazir/eot/Vazir-Bold-FD.eot'), url('../../../AppCode/Fonts/Vazir/woff2/Vazir-Bold-FD.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../../../AppCode/Fonts/Vazir/woff/Vazir-Bold-FD.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../../AppCode/Fonts/Vazir/ttf/Vazir-Bold-FD.ttf') format('truetype');
}
@import url('../../../AppCode/Fonts/Vazir/stylesheet.css');

.userloggedbase {
    width: 436px;
    margin: auto;
}

.userloggedinfo {
    width: 100%;
    background-color: #F1F1F1;
    border: 1px solid #D8D8D8;
    top: 0;
}

.userloggedimg {
    width: 110px;
}

    .userloggedimg img {
        width: 90px;
        height: 96px;
        margin: 10px 10px;
        border: 1px solid #DDDFD4;
    }

.userinfo {
    width: 324px;
    text-align: center;
    margin-top: 15px;
}

    .userinfo, .userinfo b {
        font-size: 16px;
        color: #666666;
        line-height: 30px;
    }

        .userinfo small {
            font-size: 12px;
            width: 315px;
        }

        .userinfo span {
            background-color: #4474A5;
            width: 100%;
            padding: 1px;
            list-style: none;
            transition: 300ms;
            color: #ffffff;
        }

            .userinfo span div {
                background-color: #4D9BDB;
                width: 100%;
                font-size: 15px;
            }

.cursor-pointer {
    cursor: pointer;
}
/*End -- User -- Panel*/
/*OperatitonPanel*/
/*THEME*/

.user-d-item {
    width: 50px;
    height: 40px;
    margin-top: 5px;
}

    .user-d-item img {
        width: 24px;
        height: 24px;
    }

.d-item-fix-height {
    height: 124px;
}

.user-home-items {
    width: 100%;
    margin: 0 auto;
}

span[id^="validate-"] {
    color: red;
}
/*RDN-Base*/


.c-widget a {
    color: #5C5C5C 
}

.button-th input[type=button], .button-th input[type=submit] {
    color: #ffffff;
    background-color: #89C4EE;
    border: 1px solid #3D9CE0;
    font-family: Vazir;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-size: 12px;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms; /* custom */
}

    .button-th input[type=button]:hover, .button-th input[type=submit]:hover {
        background-color: #3D9CE0;
        border: 1px solid #3D9CE0;
        -webkit-transition: all 200ms;
        -moz-transition: all 200ms;
        -ms-transition: all 200ms;
        -o-transition: all 200ms;
        transition: all 200ms; /*custom */
    }

input[type=text], select, textarea, input[type=password] {
    font-family: Vazir;
    font-size: 12px;
}

    input[type=text].captcha {
        width: 128px;
        font-family: Vazir;
        font-size: 12px;
    }

.captcha-field {
    width: 136px;
}

.header {
    background-color: #FDFDFD;
}

.topbar {
    background-color: #F2F3F4;
    border-bottom-color: #D8D8D8;
    height: 50px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.v-line {
    width: 1px;
}

.topbar a {
    color: #999999;
}

.content {
    border-color: #D8D8D8;
}

.v-line {
    background-color: #D8D8D8;
}

.child-pane {
    background-color: #F2F3F4;
}


.navbar {
    background: #F2F3F4;
    border-bottom-color: #D8D8D8;
    height: 50px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.navbar-item {
    float: right;
    text-align: center;
    height: 50px;
    width: auto;
    display: block;
    min-width: 32px;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #FFFFFF;
    list-style: none outside none;
    margin: 0;
    padding: 0 6px;
}

    .navbar-item:hover {
        background: #eceeef;
    }

.navbar-item-p {
    font-weight: 600;
    font-size: 14px;
}


/*MENU*/

.nav-operation-item {
    background-color: #1E8AD6; /* Old Browsers */
    border-color: rgba(0, 0, 0, 0.20);
    text-shadow: 0 1px 0 #2F5689;
}

.nav-operationText {
    color: #FFFFFF;
    text-shadow: 0 1px 0 #2F5689;
}

.nav-operation-item:hover, .nav-operation-item-selected {
    background-color: #25A0DA;
    background-image: none;
    filter: none;
}

ul.top-level li {
    border-bottom-color: #D8D8D8;
}

    ul.top-level li a {
        color: #7C7C7C;
        text-shadow: 0 1px 0 #FFFFFF;
    }

#nav {
    font-size: 12px;
}

    #nav ul.sub-level li:hover {
        background-color: #777777;
    }

    #nav li:hover {
        background-color: #f4f5f5;
        background-image: -moz-linear-gradient(top, #fafbfb, #ececec);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafbfb), to(#ececec));
        background-image: -webkit-linear-gradient(top, #fafbfb, #ececec);
        background-image: -o-linear-gradient(top, #fafbfb, #ececec);
        background-image: linear-gradient(to bottom, #fafbfb, #ececec);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafbfb', endColorstr='#ffececec', GradientType=0);
    }

ul.sub-level li span {
    box-shadow: 0 1px 0 0 #888888 inset;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    font-weight: 600;
}

ul.top-level li a {
    font-size: 13px;
}

#nav .sub-level {
    background: none repeat scroll 0 0 #7C7C7C;
    box-shadow: 0 1px 0 0 #FAFAFB;
}

/*CONTAINER*/

.page-caption p {
    font-size: 15px;
    text-shadow: 0 1px 0 #FFFFFF;
}


.c-widget {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D8D8D8;
}

    .c-widget .c-widget-head {
        background-color: #F9F9F9;
        background-image: linear-gradient(to bottom, #FDFDFD, #F4F4F4);
        background-repeat: repeat-x;
        border-bottom: 1px solid #D8D8D8;
    }

.c-widget-footer {
    background-color: #F9F9F9;
    background-image: linear-gradient(to bottom, #FDFDFD, #F4F4F4);
    background-repeat: repeat-x;
    border-top: 1px solid #D8D8D8;
}
/*END-Container*/
/*--GridView--*/
.gv-table {
    font-size: 12px;
}

.gv-header {
    background: #52AFF1;
    border-color: #A4ABB2;
    color: #FFFFFF;
}

.gv-row-style {
    border-color: #A1AAA0;
}

.gv-row-style-alt {
    background-color: #F1F2F3;
}

.gv-alternaterow-style {
    background-color: #C7D6A7;
    border-color: #486B23;
}

    .gv-row-style:hover, .gv-alternaterow-style:hover {
        background-color: #F5BD22; /*#73a039;*/
    }

.gv-cell {
    float: right;
    border-color: #A1AAA0 /*#BDCB9E*/;
}

.gv-footer {
    /*background-color: #A7BC75;
    border: solid 1px #486B23;
    color: #ffffff;
    background: url("/Content/2013.2.611/Office2010Silver/gradient.png") repeat-x scroll 0 center #D2D5D9;*/
    border-color: #A1AAA0;
    color: #999999;
}

    .gv-footer ul li {
        background-color: #D1DEB6;
    }

        .gv-footer ul li:hover, #active {
            background-color: #6c9f4f;
        }

            .gv-footer ul li:hover, #active, .gv-footer ul li:hover a, #active a {
                color: #ffffff;
                text-shadow: 1px 1px 1px #486B23;
            }

        .gv-footer ul li a {
            color: #486B23;
            text-shadow: 1px 1px 1px #ffffff;
        }

.gv-icon {
    background-image: url('/App_Themes/Radyn/Images/RDN-Green/sprite.png');
    height: 16px;
}

.gv-status {
    border-color: #486B23;
}

/*FOOTER*/
.footer {
    background: none repeat scroll 0 0 #0A6DB3;
}
/*OperatitonPanel*/
.d-item {
    color: #fff;
}

.d-item-bg {
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}


/*form*/
.table-row-cap {
    border: solid 1px #D0DCDC;
    background-color: #e7eaef;
}

.table-row-point {
    border: solid 1px #e5db55;
    font-size: 12px;
    background-color: #fefccb;
}

.table-row-roller {
    border: solid 1px #248CD5;
    background-color: #52AFF1;
    font-size: 14px;
    color: #ffffff;
}

.table-row-success {
    border: solid 1px #718DAB;
    background-color: #CEE6FF;
    font-size: 14px;
    color: #ffffff;
}

.table-row-cap, .table-row-item {
    font-size: 12px;
}

.table-row-item {
    border: solid 1px #D0DCDC;
    background-color: #f0f4f7;
}

    .table-row-item input, .table-row-item select, .table-row-item textarea {
        font-family: Vazir;
        font-size: 12px;
    }

.drp {
    font-family: Vazir;
    font-size: 12px;
}

.button-div, .button-div input {
    font-family: Vazir;
    font-size: 15px;
    font-weight: 600;
}
/*  L  O  G  I  N  */

.login-container {
    background-color: #FFFFFF;
    color: #747474;
    font-size: 14px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06), 0 0 3px rgba(0, 0, 0, 0.18), 0 1px 3px rgba(0, 0, 0, 0.18);
}

.login-header {
    background-color: transparent;
    border-bottom-color: #cccedb;
}

    .login-header p {
        color: #747474;
        font-size: 22px;
    }

.login-data-row-item input[type='text'], .login-data-row-item input[type='password'] {
    border-color: #cccedb;
    color: #4B4B4B;
}

    .login-data-row-item input[type='text']:focus, .login-data-row-item input[type='password']:focus {
        background-color: white;
        border-color: #A9A9A9;
    }

.login-data-row-item, .login-data-row-item p {
    font-size: 13px;
}

.login-main {
    border-color: #CCCEDB;
}

/* E  N  D -- L  O  G  I  N  */
.hint:after, [data-hint]:after {
    font-size: 12px;
    line-height: 12px;
}

.ContexMenu {
    font-size: 12px;
    border: solid 1px #d1d1d1;
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
}

.HoverContexMenu {
    font-size: 12px;
    border: solid 1px gray;
    background: #45484d; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
}

.t-dropzone {
    padding: 0 !important;
}

    .t-dropzone em {
        float: left !important;
    }
/*PANEL*/
.t-header, .t-grid-header {
    background-image: none;
    background-color: #52AFF1;
    border-color: #A4ABB2;
    height: 35px;
}

.t-state-hover, .t-state-focused {
    background-color: #F5BD22;
    border-color: #A4ABB2;
    color: #000000;
}


.ui-state-hover a, .ui-state-hover a:hover {
    text-decoration: none;
    color: #ffffff !important;
}

.t-dropdown .t-input, .t-header.t-link, .t-group .t-header.t-link, .t-header .t-link, .t-grid-header th .t-link, .t-state-active .t-header.t-link {
    color: #ffffff !important;
}

.t-dropzone {
    padding: 0 !important;
}

    .t-dropzone em {
        float: left !important;
    }
