/*INTERNALMAIL*/
.nav-mail-item {
    background-color: #0099de;
    border-color: #015C7C;
    border-top-style: none;
    text-shadow: 0 1px 0 #014B65;
    width: 98%;
    border-width: 1px;
    height: 40px;
    line-height: 40px;
}

    .nav-mail-item:first-child {
        border-top: 1px solid #015C7C;
    }

.nav-mailText {
    color: #ffffff;
    /*text-shadow: 0 1px 0 #2F5689;*/
}

.nav-mail-item:hover, .nav-mail-item-selected {
     background-color: #0278A2;
    background-image: none;
    filter: none;
}

.nav-mail-item span {
    background: none repeat scroll 0 0 #0281BB;
    border-color: #015C7C;
    width: 20px;
    height: 22px;
    padding: 9px;
    border-width: 1px;
    background-repeat: no-repeat;
    background-position: center center;
}

.nav-mail-item:hover span {
    background: none repeat scroll 0 0 #025D7E;
    background-repeat: no-repeat;
    background-position: center center;
}

#BtnInbox span {
    background-image: url('/App_Themes/Default/Images/Inbox.png');
}

#BtnDeleteDraft span {
    background-image: url('/App_Themes/Default/Images/Draft.png');
}

#BtnDelete span {
    background-image: url('/App_Themes/Default/Images/Delete.png');
}

#Outbox span {
    background-image: url('/App_Themes/Default/Images/Outbox.png');
}

#BtnTrash span {
    background-image: url('/App_Themes/Default/Images/Trash.png');
}
