

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 900;
    src: url('eot/Dana-Black.eot');
    src: url('eot/Dana-Blackd41d.eot?#iefix') format('embedded-opentype'),
    url('woff2/Dana-Black.woff2') format('woff2'),
    url('woff/Dana-Black.woff') format('woff'),
    url('ttf/Dana-Black.ttf') format('truetype');
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 800;
    src: url('eot/Dana-ExtraBold.eot');
    src: url('eot/Dana-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('woff2/Dana-ExtraBold.woff2') format('woff2'),
    url('woff/Dana-ExtraBold.woff') format('woff'),
    url('ttf/Dana-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 700;
    src: url('eot/Dana-UltraBold.eot');
    src: url('eot/Dana-UltraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('woff2/Dana-UltraBold.woff2') format('woff2'),
    url('woff/Dana-UltraBold.woff') format('woff'),
    url('ttf/Dana-UltraBold.ttf') format('truetype');
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 600;
    src: url('eot/Dana-Medium.eot');
    src: url('eot/Dana-Mediumd41d.eot?#iefix') format('embedded-opentype'),
    url('woff2/Dana-Medium.woff2') format('woff2'),
    url('woff/Dana-Medium.woff') format('woff'),
    url('ttf/Dana-Medium.ttf') format('truetype');
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 300;
    src: url('eot/Dana-Light.eot');
    src: url('eot/Dana-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('woff2/Dana-Light.woff2') format('woff2'),
    url('woff/Dana-Light.woff') format('woff'),
    url('ttf/Dana-Light.ttf') format('truetype');
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 100;
    src: url('eot/Dana-Thin.eot');
    src: url('eot/Dana-Thind41d.eot?#iefix') format('embedded-opentype'),
    url('woff2/Dana-Thin.woff2') format('woff2'),
    url('woff/Dana-Thin.woff') format('woff'),
    url('ttf/Dana-Thin.ttf') format('truetype');
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 200;
    src: url('eot/Dana-ExtraLight.eot');
    src: url('eot/Dana-ExtraLightd41d.eot?#iefix') format('embedded-opentype'),
    url('woff2/Dana-ExtraLight.woff2') format('woff2'),
    url('woff/Dana-ExtraLight.woff') format('woff'),
    url('ttf/Dana-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: bold;
    src: url('eot/Dana-Bold.eot');
    src: url('eot/Dana-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('woff2/Dana-Bold.woff2') format('woff2'),
    url('woff/Dana-Bold.woff') format('woff'),
    url('ttf/Dana-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: normal;
    src: url('eot/Dana.eot');
    src: url('eot/Danad41d.eot?#iefix') format('embedded-opentype'),
    url('woff2/Dana.woff2') format('woff2'),
    url('woff/Dana.woff') format('woff'),
    url('ttf/Dana.ttf') format('truetype');
}


@font-face {
    font-family: Dana;
    font-style: italic;
    font-weight: 100;
    src: url('eot/Dana-Thinitalic.eot');
    src: url('eot/Dana-Thinitalicd41d.eot?#iefix') format('embedded-opentype'),
    url('woff2/Dana-Thinitalic.woff2') format('woff2'),
    url('woff/Dana-Thinitalic.woff') format('woff'),
    url('ttf/Dana-Thinitalic.ttf') format('truetype');
}

@font-face {
    font-family: Dana;
    font-style: italic;
    font-weight: 200;
    src: url('eot/Dana-ExtraLightitalic.eot');
    src: url('eot/Dana-ExtraLightitalicd41d.eot?#iefix') format('embedded-opentype'),
    url('woff2/Dana-ExtraLightitalic.woff2') format('woff2'),
    url('woff/Dana-ExtraLightitalic.woff') format('woff'),
    url('ttf/Dana-ExtraLightitalic.ttf') format('truetype');
}

@font-face {
    font-family: Dana;
    font-style: italic;
    font-weight: 300;
    src: url('eot/Dana-Lightitalic.eot');
    src: url('eot/Dana-Lightitalicd41d.eot?#iefix') format('embedded-opentype'),
    url('woff2/Dana-Lightitalic.woff2') format('woff2'),
    url('woff/Dana-Lightitalic.woff') format('woff'),
    url('ttf/Dana-Lightitalic.ttf') format('truetype');
}

@font-face {
    font-family: Dana;
    font-style: italic;
    font-weight: 600;
    src: url('eot/Dana-Mediumitalic.eot');
    src: url('eot/Dana-Mediumitalicd41d.eot?#iefix') format('embedded-opentype'),
    url('woff2/Dana-Mediumitalic.woff2') format('woff2'),
    url('woff/Dana-Mediumitalic.woff') format('woff'),
    url('ttf/Dana-Mediumitalic.ttf') format('truetype');
}

@font-face {
    font-family: Dana;
    font-style: italic;
    font-weight: 700;
    src: url('eot/Dana-UltraBolditalic.eot');
    src: url('eot/Dana-UltraBolditalicd41d.eot?#iefix') format('embedded-opentype'),
    url('woff2/Dana-UltraBolditalic.woff2') format('woff2'),
    url('woff/Dana-UltraBolditalic.woff') format('woff'),
    url('ttf/Dana-UltraBolditalic.ttf') format('truetype');
}

@font-face {
    font-family: Dana;
    font-style: italic;
    font-weight: 800;
    src: url('eot/Dana-ExtraBolditalic.eot');
    src: url('eot/Dana-ExtraBolditalicd41d.eot?#iefix') format('embedded-opentype'),
    url('woff2/Dana-ExtraBolditalic.woff2') format('woff2'),
    url('woff/Dana-ExtraBolditalic.woff') format('woff'),
    url('ttf/Dana-ExtraBolditalic.ttf') format('truetype');
}

@font-face {
    font-family: Dana;
    font-style: italic;
    font-weight: 900;
    src: url('eot/Dana-Blackitalic.eot');
    src: url('eot/Dana-Blackitalicd41d.eot?#iefix') format('embedded-opentype'),
    url('woff2/Dana-Blackitalic.woff2') format('woff2'),
    url('woff/Dana-Blackitalic.woff') format('woff'),
    url('ttf/Dana-Blackitalic.ttf') format('truetype');
}

@font-face {
    font-family: Dana;
    font-style: italic;
    font-weight: bold;
    src: url('eot/Dana-Bolditalic.eot');
    src: url('eot/Dana-Bolditalicd41d.eot?#iefix') format('embedded-opentype'),
    url('woff2/Dana-Bolditalic.woff2') format('woff2'),
    url('woff/Dana-Bolditalic.woff') format('woff'),
    url('ttf/Dana-Bolditalic.ttf') format('truetype');
}

@font-face {
    font-family: Dana;
    font-style: italic;
    font-weight: normal;
    src: url('eot/Dana-italic.eot');
    src: url('eot/Dana-italicd41d.eot?#iefix') format('embedded-opentype'),
    url('woff2/Dana-italic.woff2') format('woff2'),
    url('woff/Dana-italic.woff') format('woff'),
    url('woff/Dana-italic.woff') format('woff'),
    url('ttf/Dana-italic.ttf') format('truetype');
}

