@using Radyn.FileManager
@using Radyn.Web.Mvc;
@using Radyn.WebApp.AppCode.Base
@model Radyn.Congress.DataStructure.Teacher

@{
    ViewBag.Title = Resources.Common.Detail;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{}
@section PageTitle
{
    @Resources.Common.Detail

}
@section PageAction
{
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Congress/Teacher/Index")).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}
@section PageActionDown
{
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Congress/Teacher/Index")).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>

}

@Html.ValidationSummary(true)
<div class="radynForm">
    @{Html.RenderAction("GenerateEnterpriseNodeModify", "EnterPriseNode", new { area = "EnterpriseNode", state = "Details", id = Model.Id, type = "r" });}
    <div class="fit">
        <div class="table-row-cap table-c-fit">
            <div class="item">
                @Resources.Congress.Resume
            </div>
        </div>
        <div class="table-row-item table-c-fit table-fit">
            <div class="item">
                @if (Model.ResumeAttachId.HasValue)
                {
                    Html.RadynFile().Image().ID(Model.ResumeAttachId.Value).Download().Render();
                }
            </div>
        </div>
    </div>
</div>

