@using Radyn.Web.Mvc
@using Radyn.WebApp.Areas.EnterpriseNode.ExtentionTools
@model  List<KeyValuePair<Radyn.Congress.DataStructure.Teacher, bool>>
<div class="fit">
    <div class="item-input">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.TeacherList
            </div>
        </div>
        <div class="table-row-item drp readonly radio-box">
            <div class="item">
                @{
                    if ((bool)ViewBag.ModifyMode)
                    {
                        foreach (var item in Model)
                        {
                                {Html.Radyn().CheckBox().ID("CheckSelect" + "," + item.Key.Id).Checked(item.Value).Name("CheckSelect" + "," + item.Key.Id).Render(); }
                                @item.Key.EnterpriseNode.EnterpriseNodeTitle()
                                        }
                                    }
                                    else
                                    {
                                        foreach (var item in Model.Where(x => x.Value))
                                        {
                                            <div class="page-align">
                                                @item.Key.EnterpriseNode.EnterpriseNodeTitle()
                                            </div>
                                        }
                                    }
                }
            </div>
            </div>
        </div>
    </div>






