@import url('../../../AppCode/Fonts/kanit-v5-latin/stylesheet.css');

.current .content-slide > span, .lasts .content-slide > span {
    font-family: Kanit, Vazir;
    font-weight: 600;
    font-size: 43px;
}

p, span, h1, h2, h3, h4, h5, h6 {
    direction: ltr !important
}

    body, .slide-items-box .content-slide, h2.widget-title {
        font-family:  Vazir !important;
    }

.footer-company-box * {
    direction: ltr
}

.footer-company {
    direction: rtl
}

.content-slide > div p {
    font-size: 20px
}

@media (min-width: 992px) {
    .list-nav-content > li {
        float: left;
    }

    h2.widget-title, .section-information h2 {
        font-weight: 500;
        /* font-size: 63px !important; */
    }
}

.custom-footer > .container > .row > .content-company-des:first-child, .custom-footer > .container > .row > .content-company-des:first-child + div {
    float: left !important
}

.content-company-des, .content-company-des ~ div {
    text-align: left
}

.custom-footer ul li svg {
    margin: 5px 10px 0 0px;
    float: left;
}

.footer-person-item label {
    font-weight: 400;
    font-size: 18px;
}

.banner-web p {
    margin: 0 0 12px 4px;
}

.news-box-content .n-title {
    font-size: 16px;
    float: right;
    margin: 10px 0px 3px 0;
    display: block;
    width: 100%;
    color: rgba(47, 47, 47, 0.85);
    font-weight: 600;
}

.items-conference label {
    font-weight: 400;
}

.ui-content-nav {
    float: none
}

.m-btn input {
    padding: 13px 9px !important;
}

.image-logo {
    float: left !important;
}

.items-info-company {
    float: left !important;
}

.dir-float, .row-login-nav {
    float: right !important
}

.dir-float-l {
    float: left !important
}

.section-information, .banner-web {
    text-align: center;
}

    .section-information p, .slide-show:hover .dot-slider.auto_hidden, .mixed {
        direction: ltr;
    }

.items-conference {
    min-height: 109px;
}

    .items-conference, .items-conference > ul > li, .control-gallery, .banner-web .login-main .button-row-login:last-child, .image-logo img, .items-info-company ul li:first-child {
        float: left
    }

        .items-conference svg {
            margin: 12px 18px 8px 6px;
        }

        .items-conference h6 {
            text-align: left;
            margin: 0;
            float: left;
            line-height: normal;
            font-size: 15px;
        }

        .items-conference label, .items-conference h6 {
            text-align: left;
        }

.banner-web .title-banner, .login-box.banner-web .login-main, .newsletter .button-row-login.captcha-control {
    float: left !important
}

.newsletter .button-row-login {
    float: right !important;
}

.login-data-row-item > div > img:last-child, .button-row-login {
    float: right;
    margin-right: -3px !important;
}

    .newsletter .button-row-login.captcha-control, .button-row-login .btn-white {
        direction: ltr;
        margin: 5px 0 0 0px;
    }

.news-section .news-box {
    float: left;
    text-align: left;
    direction: ltr;
}

.news-box-content .date {
    float: left;
    text-align: left;
    direction: ltr;
}

.news-box-content .n-lead {
    direction: ltr;
    float: left;
}

.login-box input[type="text"], .login-box input[type="password"] {
    text-align: left
}


@media (min-width: 992px) {
    .list-nav-content {
        width: auto;
        text-align: left;
        float: left;
    }
}

.company-info label {
    font-size: 18px;
}

.company-info label, .company-info span {
    float: left;
    display: block;
    text-align: left;
}

.radyn-Resources.license .radyn-Resources-a, .footer-responsive > p {
    width: auto !important
}

.radyn-Resources.license .radyn-Resources-a {
    float: left;
}

.banner-web .title-banner, .login-box.banner-web .login-main {
    width: 50%;
}

@media (max-width: 768px) {
    .banner-web .title-banner, .login-box.banner-web .login-main {
        width: 100%;
    }

    .current .content-slide > span, .lasts .content-slide > span {
        font-size: 27px;
    }

    .widget-wrap {
        text-align: center;
        margin: 0 0 15px 0;
    }

    .section-information {
        padding: 0;
    }

    h2.widget-title {
        margin: 0 0 35px 0;
    }

    .content-slide > div p {
        font-size: 14px;
        text-align: center;
    }

    .banner-web h2, .banner-web p, .banner-web .dir-float {
        text-align: center;
    }

    .about-conference-box {
        background-size: cover;
    }

    .control-gallery {
        text-align: center;
        display: block;
        width: max-content;
        margin: 10px auto;
        width: -moz-max-contnet;
        float: none !important;
    }
}

.ui-sheet h2.widget-title, .ui-sheet .section-information h2 {
    font-weight: 600;
}

.title-banner h2 {
    text-align: left;
}

.userloggedimg {
    right: auto;
    left: 15px;
}

.user-home-items a .d-item-bg {
    float: left;
}

.userinfo {
    left: 200px;
}

    .userinfo b > small {
        float: left;
    }

        .userinfo b > small:last-child:before {
            margin-right: 7px;
        }

.ui-sheet input[type="checkbox"]:checked, .ui-sheet input[type="checkbox"]:not(:checked) {
    margin: 0 7px;
}

@media (min-width: 1200px) {
    .footer-responsive {
        width: 1130px;
    }
}

.radyn-Resources.license div > p {
    float: right !important
}

.ui-content-nav .container > div[class^="col"] {
    padding: 0;
}

.row-login-nav {
    margin-right: 12px;
}

.page-caption {
    padding: inherit;
}

.item-input {
    float: left;
}

.m-btn {
    float: left !important;
}

    .m-btn td input {
        padding: 9px 20px 21px 22px !important;
    }

    .m-btn tr > td:last-child:before {
        left: 2px;
        right: auto;
    }

    .m-btn a {
        padding: 11px 18px 13px 40px;
    }

    .m-btn td input {
        padding: 9px 15px 21px 28px !important;
    }

.ui-theme ~ .user-panel-view {
    padding: 10px 30px;
}

.topbar .d-item {
    margin-left: 13px;
    float: right;
    width: 243px;
    text-align: left;
}

    .topbar .d-item svg {
        margin: 15px 25px 15px 25px;
        float: left
    }

    .topbar .d-item:hover {
        border-right: none;
        border-left: 4px solid #fc0;
    }

.userinfo b ~ span:after, .userinfo span div p:last-child:after {
    margin: 0;
    margin-right: 7px;
}

.nav-mail > .nav-mail-item:first-child {
    margin-left: 45px;
    margin-right: 5px;
}

.radyn_grid table tr .pull-right {
    float: left !important
}

.radyn_grid tr td:first-child .filter_textbox:focus, .grid-box.control tr td:first-child .dropdown-menu {
    right: -120px !important;
    left: auto !important;
}

.radyn_grid tr td:last-child .filter_textbox:focus, .grid-box.control tr td:last-child .dropdown-menu {
    left: -120px !important;
    right: auto !important
}

.radyn_grid .filter_textbox:focus {
    right: -40px !important;
}

.userinfo span div p:last-child:after {
    left: -7px;
    right: auto;
}

.r-badge {
    left: -10px;
    right: auto;
}

.big-pane .page-align .paginate_buttons {
    border: none;
}

.date-picker.two-col > div > div > span:nth-child(2) {
    left: auto;
    right: 0;
}

.item-input .table-row-item span img {
    bottom: 7px;
}

.radyn_grid .filter_textbox.form-control {
    padding: 0 9px;
}

.transaction-result {
    float: left;
}

.m-btn svg {
    left: 15px;
    right: auto;
}

.nav-mail .nav-mail-item {
    border-right: none !important;
    border-radius: 5px 0px 0 5px;
    padding: 1px 10px 0 7px;
    border-left: 10px solid #ffcc00 !important;
}

.calendar .button {
    float: none;
}

.date-picker.two-col > div > div > span > input[type="text"] {
    border: 1px solid #e2e5ec !important;
}

.my_select-group_box > form {
    float: left !important;
}

.footer-social-media li svg {
    margin-top: -5px;
}

.section-person-info .owl-carousel .owl-nav button.owl-next, .section-person-info .owl-carousel .owl-nav button.owl-prev {
    padding: 0px 7px 3px 7px !important;
}


.topbar .title-row {
    right: auto;
    top: 2px;
    width: 100%;
    left: 65px;
}

.news-list-lead span svg {
    margin: -3px 0px 0 1px;
}

@media (max-width: 2000px) and (min-width: 1301px) {
    .container-box.news-section {
        padding-left: 40px;
        padding-right: 0
    }
}

.align {
    float: left;
}

/* slider */
.slide-show .has-icon-slider {
    transform: rotate(180deg);
    cursor: pointer
}

.slide-show:hover .has-icon-slider.next-slide {
    left: auto;
    right: -15px;
}

.slide-show:hover .has-icon-slider.prev-slide {
    right: auto;
    left: 18px;
}

/* slider */
.menu-web {
    direction: ltr;
}
.homa-footer .menu-web li a::before {
    content: "";
    right: -26px; 
}

.vip-guest-a .text-shadow {
    float: left;
    text-align: left;
}