@using Radyn.Web.Mvc.Utility
@{
    ViewBag.Title = Resources.Congress.AccessDeny;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
    <script>
        if (window.location.pathname != undefined && window.location.pathname.toLowerCase() != "/account/accessdeny")
            window.location = "/Account/Accessdeny?Url="+'@ViewBag.Url';
    </script>
}
<div class="access-box">
    <img src="~/Areas/Congress/Content/Images/access.png" />
    <p >
        @{Html.HtmlEncoder(Resources.Security.AccessDeny);}
    </p>
  
</div>
