@using Radyn.Congress.Tools
@using Radyn.WebApp.AppCode.Security
@using Radyn.WebApp.Areas.Congress.Tools
@model Radyn.Congress.DataStructure.Homa
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    @if (Model != null)
    {
        <title>@Model.CongressTitle</title>
    }
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @{
        if (SessionParameters.CurrentCongress != null && SessionParameters.CurrentCongress.Configuration != null && SessionParameters.CurrentCongress.Configuration.FavIcon != null)
        {
            <link rel="icon" type="image/png" href="@Radyn.FileManager.FileManagerContants.FileHandlerRoot@SessionParameters.CurrentCongress.Configuration.FavIcon" />
        }
        else
        {
            <link rel="icon" type="image/png" href="/Areas/Congress/Content/Images/homa-icon.png" />
        }
    }

</head>
<body>
    @if (Model != null && (Model.AllowShow))
    {
        Html.RenderAction("GetIndex", "UIPanel", new { area = "Congress" });
    }
    else
    {
        Html.RenderAction("GetError", "Homa", new { area = "Congress" });
    }
</body>
</html>
