@using Radyn.FileManager
@model Radyn.Congress.DataStructure.ConfigurationContent
<div>
   
    @if (Model != null)
    {
        if (!Model.HeaderFromContentManager && Model.HeaderId.HasValue)
        {
            Html.RadynFile().Image().ID((Guid)Model.HeaderId).Render();

        }
        else if (Model.ContentManagerHeaderId.HasValue)
        {
            Html.RenderAction("ViewPartial", "Content", new { area = "ContentManager", id = Model.ContentManagerHeaderId });
        }
    }
    
</div>
