@using Radyn.WebApp.AppCode.Security
@model List<String>
    @if (SessionParameters.CurrentCongress != null && (SessionParameters.CurrentCongress.Configuration.Theme == "Default" || SessionParameters.CurrentCongress.Configuration.Theme == "Homa-Advanced"))
    {
        <div class="container-box">
            @foreach (var item in Model)
            {
                <p>
                    ■@item
                </p>
            }
        </div>
    }

    else
    {

        <style>
            div.mark-first span {
                color: red;
            }

            div.mark-first strong {
                font-weight: bold;
            }
        </style>




        <section class="section-supporters-box">

            <div class="owl-carousel owl-theme">


                @if (Model != null && Model.Count > 0)
                {


                    for (int index = 0; index <= (Model.Count() - 1); index++)
                    {




                        if (index < Model.Count)
                        {
                            var style = "";
                            if (Model.Count() == 1)
                            {
                                style = "margin:10px auto;";
                            }

                            else
                            {

                                style = " margin-top: 10px; float: " + Resources.Design.Align + "; margin-" + Resources.Design.Align + ": 8px;";
                            }
                            <div class="supporters-box item" id="div-@Model[index]" style="@style">
                                @Model[index]
                            </div>
                        }
                    }



                }
            </div>
        </section>

    }


