@using Radyn.FileManager
@model Radyn.Congress.DataStructure.ConfigurationContent
<script type="text/javascript">
    function DownloadPoster() {
        var poster=document.getElementById("OrginalPosterId").value;
        if (poster) {
            var url = '@(FileManagerContants.FileHandlerRoot + Model.OrginalPosterId + "?dl=true")';
            window.open(url);
        }
    }
</script>
<input type="hidden" value="@Model.OrginalPosterId" name="OrginalPosterId" id="OrginalPosterId"/>
<div class="container-box" >

    @if (Model != null && Model.MiniPosterId.HasValue)
    {
        Html.RadynFile().Image().ID((Guid)Model.MiniPosterId).OtherAttribute(new { style = "cursor:pointer;width:100%", onclick = "DownloadPoster();" }).Render();


    }

</div>
