@using Radyn.FileManager
@model Radyn.Congress.DataStructure.ConfigurationContent
<div class="container-box">
    <a href="@Url.Content("~/Congress/CongressGallery/GalleryList")" target="_blank">

    </a>
</div>
