<script>
    function GetUserCardWithNationalCode() {
        $.get("@Url.Content("~/Congress/UIPanel/GetUserCardWithNationalCode")",
            { nationalCode: $("#txtNationalCode").val(),date:new Date().getTime() },
            function (data) {
                if (data.Message != null && data.Message != "")
                    alert(data.Message);
               else if (data.ResponseStatus !== false) {
                    window.open('@Url.Content("~/Congress/ReportPanel/PrintUserCardFromAdmin?Id=")' + data.UserId);
                 
                }
                
            });
       
    }

    
</script>
<style>
  
</style>
<div class="national-code-box">
    <input type="text" id="txtNationalCode" />
    <input class="btn-printcart" type="button" value="چاپ کارت" onclick="GetUserCardWithNationalCode()" />
</div>

