@using System.Web.Mvc

<style>
    .grid-guid > ul >li:hover{
        cursor:pointer;
    }
</style>
<script type="text/javascript">
    function CopyOnClipboard(key) {
        var copyText = document.getElementById(key);
        var textArea = document.createElement("textarea");
        textArea.value = copyText.textContent;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("Copy");
        textArea.remove();
    }
</script>

<div class="grid-guid keys-help">
 
    <ul>
        @{
            foreach (var item in (SelectList)ViewBag.Keys)
            {
                <li title="@Resources.Congress.CopyToClipboard" onclick="CopyOnClipboard('@item.Value')">
                    <span id="@item.Value">[@item.Value]</span>
                    @item.Text
                </li>
            }
        }
          

    </ul>
</div>

