@using Radyn.Web.Mvc

@model List<Radyn.Congress.DataStructure.HomaAlias>
    <script type="text/javascript">

        function DeleteAlias(aliasId) {
            $.get("/Congress/Homa/DeleteAlias", { aliasId: aliasId, date: new Date().getTime() }, function (data) {
                if (data == "true") {
                    $("#" + aliasId).slideUp();
                }
                GetAliasList();
                ShowRadynMessage();
            });

        }
        function GetAlias(aliasId) {
            $.get("/Congress/Homa/GetAlias", { aliasId: aliasId, date: new Date().getTime() }, function (data) {
                $("#DivAlias").html(data);
                $("#DivAlias").slideDown();

            });
            ShowRadynMessage();
        }
    </script>
    <div class="fit">
        <fieldset style="margin-top: 25px;">
            <legend class="legend-title" style="margin:30px 0">
                <span>@Resources.Congress.HomaAlias</span>

            </legend>
            @if (!ViewBag.hiddenEdit)
            {
                <div class="button-div m-btn waves-blue i-add">
                    @{Html.Radyn().ImageActionLink().Text(Resources.Congress.HomaAlias + " " + @Resources.Common.New).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).ImageHeight("20").ImageWidth("20").OtherAttribute(new { onclick = "GetAlias()" }).Render(); }
                </div>
            }
            <div class="fit grid-control ">
                @{
                    Html.Radyn().Grid(Model).Name("Grid").HtmlAttributes(new { style = "width:70%;margin: 0 auto" }).Columns(columns =>
                    {

                        columns.Template(homaAlias => homaAlias.Url).Title(@Resources.Congress.InstallPath).Width(300).HeaderHtmlAttributes(new { style = "text-align:center" });
                        columns.Template(homaAlias => "<a style='cursor: pointer;'    onclick=\"GetAlias('" + homaAlias.Id + "');\"   > " +
                            " <img width='18' align='absmiddle' title='" + Resources.Common.Edit + "' src='" + Url.Content("~/Content/Images/edit.png") + "' />" + "</a>  " +
                            "<a style='cursor: pointer;'     onclick=\"DeleteAlias('" + homaAlias.Id + "');\"   > " +
                            " <img width='18' align='absmiddle' title='" + Resources.Common.Delete + "' src='" + Url.Content("~/Content/Images/Delete-Close.png") + "' />" + "</a>  ").Width(200).Filterable(false).Visible(!(bool)ViewBag.hiddenEdit).Encode(false);


                    })

                        .Sortable(sorting => sorting.Enabled(true))
                        .Pageable(paging => paging.Enabled(true))
                        .Filterable(filtering => filtering.Enabled(true))
                        .Footer(false).Render();
                }
            </div>

            <div id="DivAlias" class="fit"></div>
        </fieldset>
    </div>
