.ui-h-menu {
    border-color: #74539A;
    background: #67478c;
    background: -moz-linear-gradient(top, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #67478c), color-stop(50%, #6b4597), color-stop(51%, #573285), color-stop(100%, #513473));
    background: -webkit-linear-gradient(top, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    background: -o-linear-gradient(top, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    background: -ms-linear-gradient(top, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    background: linear-gradient(to bottom, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67478c', endColorstr='#513473', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 0px 1px #8D75A9;
    -moz-box-shadow: inset 0px 0px 0px 1px #8D75A9;
    box-shadow: inset 0px 0px 0px 1px #8D75A9;
}
/*##############Superfish*/
/*##Superfish-Horizontal*/
.sf-menu a {
    border-color: #74539A;
    -webkit-box-shadow: inset 0px 0px 0px 1px #8D75A9;
    -moz-box-shadow: inset 0px 0px 0px 1px #8D75A9;
    box-shadow: inset 0px 0px 0px 1px #8D75A9;
}


.sf-menu li, .sf-menu ul li, .sf-menu ul ul li {
    background: #67478c;
    background: -moz-linear-gradient(top, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #67478c), color-stop(50%, #6b4597), color-stop(51%, #573285), color-stop(100%, #513473));
    background: -webkit-linear-gradient(top, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    background: -o-linear-gradient(top, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    background: -ms-linear-gradient(top, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    background: linear-gradient(to bottom, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67478c', endColorstr='#513473', GradientType=0 );
}



    .sf-menu li:hover,
    .sf-menu li.sfHover {
        border-color: #74539A;
        background: #ba5fb8;
        background: -moz-linear-gradient(top, #ba5fb8 0%, #c558c1 50%, #b745b5 51%, #9f449d 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #ba5fb8), color-stop(50%, #c558c1), color-stop(51%, #b745b5), color-stop(100%, #9f449d));
        background: -webkit-linear-gradient(top, #ba5fb8 0%, #c558c1 50%, #b745b5 51%, #9f449d 100%);
        background: -o-linear-gradient(top, #ba5fb8 0%, #c558c1 50%, #b745b5 51%, #9f449d 100%);
        background: -ms-linear-gradient(top, #ba5fb8 0%, #c558c1 50%, #b745b5 51%, #9f449d 100%);
        background: linear-gradient(to bottom, #ba5fb8 0%, #c558c1 50%, #b745b5 51%, #9f449d 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba5fb8', endColorstr='#9f449d', GradientType=0 );
    }

    .sf-menu > li.sfHover > a, .sf-menu > li.sfHover > a:hover,
    .sf-menu > li > a:hover, .sf-menu > li.active > a,
    .sf-menu > li.active > a:hover, .sf-menu > li > ul li > a:hover,
    .sf-menu > li > ul li.sfHover > a, .sf-menu ul ul li a:hover {
        color: #ffffff;
        text-shadow: 1px 1px 1px #444444;
        -webkit-box-shadow: inset 0px 0px 0px 1px #CC88CA;
        -moz-box-shadow: inset 0px 0px 0px 1px #CC88CA;
        box-shadow: inset 0px 0px 0px 1px #CC88CA;
    }
/*##Superfish-Vertical*/
/*Superfish##############*/
.radyn-Resources {
    border-color: #74539A;
    background: #67478c;
    background: -moz-linear-gradient(top, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #67478c), color-stop(50%, #6b4597), color-stop(51%, #573285), color-stop(100%, #513473));
    background: -webkit-linear-gradient(top, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    background: -o-linear-gradient(top, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    background: -ms-linear-gradient(top, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    background: linear-gradient(to bottom, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67478c', endColorstr='#513473', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 0px 1px #8D75A9;
    -moz-box-shadow: inset 0px 0px 0px 1px #8D75A9;
    box-shadow: inset 0px 0px 0px 1px #8D75A9;
}

/*container*/
.container-hd {
    border: 1px solid #A37A32;
}

.container-header {
    background: #ba5fb8;
    background: -moz-linear-gradient(top, #ba5fb8 0%, #c558c1 50%, #b745b5 51%, #9f449d 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ba5fb8), color-stop(50%, #c558c1), color-stop(51%, #b745b5), color-stop(100%, #9f449d));
    background: -webkit-linear-gradient(top, #ba5fb8 0%, #c558c1 50%, #b745b5 51%, #9f449d 100%);
    background: -o-linear-gradient(top, #ba5fb8 0%, #c558c1 50%, #b745b5 51%, #9f449d 100%);
    background: -ms-linear-gradient(top, #ba5fb8 0%, #c558c1 50%, #b745b5 51%, #9f449d 100%);
    background: linear-gradient(to bottom, #ba5fb8 0%, #c558c1 50%, #b745b5 51%, #9f449d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba5fb8', endColorstr='#9f449d', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 0px 1px #CC88CA;
    -moz-box-shadow: inset 0px 0px 0px 1px #CC88CA;
    box-shadow: inset 0px 0px 0px 1px #CC88CA;
    border-bottom: solid 1px #A37A32;
}




/**/

/*MENU*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-color: #74539A;
    background: #67478c;
    background: -moz-linear-gradient(top, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #67478c), color-stop(50%, #6b4597), color-stop(51%, #573285), color-stop(100%, #513473));
    background: -webkit-linear-gradient(top, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    background: -o-linear-gradient(top, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    background: -ms-linear-gradient(top, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    background: linear-gradient(to bottom, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67478c', endColorstr='#513473', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 0px 1px #8D75A9;
    -moz-box-shadow: inset 0px 0px 0px 1px #8D75A9;
    box-shadow: inset 0px 0px 0px 1px #8D75A9;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border-color: #74539A;
    background: #ba5fb8;
    background: -moz-linear-gradient(top, #ba5fb8 0%, #c558c1 50%, #b745b5 51%, #9f449d 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ba5fb8), color-stop(50%, #c558c1), color-stop(51%, #b745b5), color-stop(100%, #9f449d));
    background: -webkit-linear-gradient(top, #ba5fb8 0%, #c558c1 50%, #b745b5 51%, #9f449d 100%);
    background: -o-linear-gradient(top, #ba5fb8 0%, #c558c1 50%, #b745b5 51%, #9f449d 100%);
    background: -ms-linear-gradient(top, #ba5fb8 0%, #c558c1 50%, #b745b5 51%, #9f449d 100%);
    background: linear-gradient(to bottom, #ba5fb8 0%, #c558c1 50%, #b745b5 51%, #9f449d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba5fb8', endColorstr='#9f449d', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 0px 1px #CC88CA;
    -moz-box-shadow: inset 0px 0px 0px 1px #CC88CA;
    box-shadow: inset 0px 0px 0px 1px #CC88CA;
}

/* General link styling */


/* The hover state of the menu/submenu links */
.cssmenu > ul li a:hover,
.cssmenu > ul li:hover > a {
    border-color: #74539A;
    background: #67478c;
    background: -moz-linear-gradient(top, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #67478c), color-stop(50%, #6b4597), color-stop(51%, #573285), color-stop(100%, #513473));
    background: -webkit-linear-gradient(top, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    background: -o-linear-gradient(top, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    background: -ms-linear-gradient(top, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    background: linear-gradient(to bottom, #67478c 0%, #6b4597 50%, #573285 51%, #513473 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67478c', endColorstr='#513473', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 0px 1px #8D75A9;
    -moz-box-shadow: inset 0px 0px 0px 1px #8D75A9;
    box-shadow: inset 0px 0px 0px 1px #8D75A9;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

/* THE SUBMENUS */
.cssmenu > ul ul {
    /* Background & effects */
    background-color: #FAF1FA;
    border: 1px solid #74539A;
}



/* End Vertical menu =====================================================================================*/


/*INTERNALMAIL*/
.nav-mail-item {
    background-color: #67478c;
    border-color: #74539A;
    -webkit-box-shadow: inset 0px 0px 0px 1px #8D75A9;
    -moz-box-shadow: inset 0px 0px 0px 1px #8D75A9;
    box-shadow: inset 0px 0px 0px 1px #8D75A9;
}

    .nav-mail-item:first-child {
        border-top: 1px solid #74539A;
    }

.nav-mailText {
    color: #ffffff;
}

.nav-mail-item:hover, .nav-mail-item-selected {
    background-color: #ba5fb8;
}

.nav-mail-item span {
    background-color: #513473;
    border-color: #74539A;
    -webkit-box-shadow: inset 0px 0px 0px 1px #8D75A9;
    -moz-box-shadow: inset 0px 0px 0px 1px #8D75A9;
    box-shadow: inset 0px 0px 0px 1px #8D75A9;
}

.nav-mail-item:hover span {
    background-color: #9f449d;
}

.userinfo span {
    background-color: #A04B9E;
    color: #ffffff;
}

    .userinfo span div {
        background-color: #B644B4;
        font-size: 15px;
    }

.gv-header {
    background-color: #C962C6;
    border-color: #A04B9E;
    color: #ffffff;
}

.gv-row-style:hover, .gv-alternaterow-style:hover {
    background-color: #E1CAE1; /*#73a039;*/
}

.container-box {
    background-color: #FAF1FA;
}
