.ui-h-menu {
    border-color: #A34972;
    background: #953d64;
    background: -moz-linear-gradient(top, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #953d64), color-stop(50%, #9e3464), color-stop(51%, #902656), color-stop(100%, #7b2b4f));
    background: -webkit-linear-gradient(top, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
    background: -o-linear-gradient(top, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
    background: -ms-linear-gradient(top, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
    background: linear-gradient(to bottom, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#953d64', endColorstr='#7b2b4f', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 0px 1px #B06E8C;
    -moz-box-shadow: inset 0px 0px 0px 1px #B06E8C;
    box-shadow: inset 0px 0px 0px 1px #B06E8C;
}
/*##############Superfish*/
/*##Superfish-Horizontal*/
.sf-menu a {
    border-color: #A34972;
    -webkit-box-shadow: inset 0px 0px 0px 1px #B06E8C;
    -moz-box-shadow: inset 0px 0px 0px 1px #B06E8C;
    box-shadow: inset 0px 0px 0px 1px #B06E8C;
}


.sf-menu li, .sf-menu ul li, .sf-menu ul ul li {
    background: #953d64;
    background: -moz-linear-gradient(top, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #953d64), color-stop(50%, #9e3464), color-stop(51%, #902656), color-stop(100%, #7b2b4f));
    background: -webkit-linear-gradient(top, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
    background: -o-linear-gradient(top, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
    background: -ms-linear-gradient(top, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
    background: linear-gradient(to bottom, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#953d64', endColorstr='#7b2b4f', GradientType=0 );
}



    .sf-menu li:hover,
    .sf-menu li.sfHover {
        border-color: #AA4061;
        background: #c55478;
        background: -moz-linear-gradient(top, #c55478 0%, #d55179 50%, #c53764 51%, #aa395d 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #c55478), color-stop(50%, #d55179), color-stop(51%, #c53764), color-stop(100%, #aa395d));
        background: -webkit-linear-gradient(top, #c55478 0%, #d55179 50%, #c53764 51%, #aa395d 100%);
        background: -o-linear-gradient(top, #c55478 0%, #d55179 50%, #c53764 51%, #aa395d 100%);
        background: -ms-linear-gradient(top, #c55478 0%, #d55179 50%, #c53764 51%, #aa395d 100%);
        background: linear-gradient(to bottom, #c55478 0%, #d55179 50%, #c53764 51%, #aa395d 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c55478', endColorstr='#aa395d', GradientType=0 );
    }

    .sf-menu > li.sfHover > a, .sf-menu > li.sfHover > a:hover,
    .sf-menu > li > a:hover, .sf-menu > li.active > a,
    .sf-menu > li.active > a:hover, .sf-menu > li > ul li > a:hover,
    .sf-menu > li > ul li.sfHover > a, .sf-menu ul ul li a:hover {
        color: #ffffff;
        text-shadow: 1px 1px 1px #444444;
        -webkit-box-shadow: inset 0px 0px 0px 1px #BF6C85;
        -moz-box-shadow: inset 0px 0px 0px 1px #BF6C85;
        box-shadow: inset 0px 0px 0px 1px #BF6C85;
    }
/*##Superfish-Vertical*/
/*Superfish##############*/
.radyn-Resources {
     border-color: #A34972;
    background: #953d64;
    background: -moz-linear-gradient(top, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #953d64), color-stop(50%, #9e3464), color-stop(51%, #902656), color-stop(100%, #7b2b4f));
    background: -webkit-linear-gradient(top, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
    background: -o-linear-gradient(top, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
    background: -ms-linear-gradient(top, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
    background: linear-gradient(to bottom, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#953d64', endColorstr='#7b2b4f', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 0px 1px #B06E8C;
    -moz-box-shadow: inset 0px 0px 0px 1px #B06E8C;
    box-shadow: inset 0px 0px 0px 1px #B06E8C;
}

/*container*/
.container-hd {
    border: 1px solid #AA4061;
}

.container-header {
     background: #c65476;
    background: -moz-linear-gradient(top, #c65476 0%, #d44f77 50%, #c53764 51%, #aa395d 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #c65476), color-stop(50%, #d44f77), color-stop(51%, #c53764), color-stop(100%, #aa395d));
    background: -webkit-linear-gradient(top, #c65476 0%, #d44f77 50%, #c53764 51%, #aa395d 100%);
    background: -o-linear-gradient(top, #c65476 0%, #d44f77 50%, #c53764 51%, #aa395d 100%);
    background: -ms-linear-gradient(top, #c65476 0%, #d44f77 50%, #c53764 51%, #aa395d 100%);
    background: linear-gradient(to bottom, #c65476 0%, #d44f77 50%, #c53764 51%, #aa395d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c65476', endColorstr='#aa395d', GradientType=0 );
    border-bottom: solid 1px #539A55;
}




/**/

/*MENU*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
     border-color: #A34972;
    background: #953d64;
    background: -moz-linear-gradient(top, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #953d64), color-stop(50%, #9e3464), color-stop(51%, #902656), color-stop(100%, #7b2b4f));
    background: -webkit-linear-gradient(top, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
    background: -o-linear-gradient(top, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
    background: -ms-linear-gradient(top, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
    background: linear-gradient(to bottom, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#953d64', endColorstr='#7b2b4f', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 0px 1px #B06E8C;
    -moz-box-shadow: inset 0px 0px 0px 1px #B06E8C;
    box-shadow: inset 0px 0px 0px 1px #B06E8C;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
      border-color: #AA4061;
    background: #c55478;
    background: -moz-linear-gradient(top, #c55478 0%, #d55179 50%, #c53764 51%, #aa395d 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #c55478), color-stop(50%, #d55179), color-stop(51%, #c53764), color-stop(100%, #aa395d));
    background: -webkit-linear-gradient(top, #c55478 0%, #d55179 50%, #c53764 51%, #aa395d 100%);
    background: -o-linear-gradient(top, #c55478 0%, #d55179 50%, #c53764 51%, #aa395d 100%);
    background: -ms-linear-gradient(top, #c55478 0%, #d55179 50%, #c53764 51%, #aa395d 100%);
    background: linear-gradient(to bottom, #c55478 0%, #d55179 50%, #c53764 51%, #aa395d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c55478', endColorstr='#aa395d', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 0px 1px #BF6C85;
    -moz-box-shadow: inset 0px 0px 0px 1px #BF6C85;
    box-shadow: inset 0px 0px 0px 1px #BF6C85;
}

/* General link styling */


/* The hover state of the menu/submenu links */
.cssmenu > ul li a:hover,
.cssmenu > ul li:hover > a {
          border-color: #A34972;
        background: #953d64;
        background: -moz-linear-gradient(top, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #953d64), color-stop(50%, #9e3464), color-stop(51%, #902656), color-stop(100%, #7b2b4f));
        background: -webkit-linear-gradient(top, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
        background: -o-linear-gradient(top, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
        background: -ms-linear-gradient(top, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
        background: linear-gradient(to bottom, #953d64 0%, #9e3464 50%, #902656 51%, #7b2b4f 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#953d64', endColorstr='#7b2b4f', GradientType=0 );
        -webkit-box-shadow: inset 0px 0px 0px 1px #B06E8C;
        -moz-box-shadow: inset 0px 0px 0px 1px #B06E8C;
        box-shadow: inset 0px 0px 0px 1px #B06E8C;
        color: #ffffff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

/* THE SUBMENUS */
.cssmenu > ul ul {
    /* Background & effects */
     background-color: #FAF1F5;
    border: 1px solid #A34972;
}



/* End Vertical menu =====================================================================================*/


/*INTERNALMAIL*/
.nav-mail-item {
    background-color: #953d64;
    border-color: #A34972;
    -webkit-box-shadow: inset 0px 0px 0px 1px #B06E8C;
    -moz-box-shadow: inset 0px 0px 0px 1px #B06E8C;
    box-shadow: inset 0px 0px 0px 1px #B06E8C;
}

    .nav-mail-item:first-child {
        border-top: 1px solid #A34972;
    }

.nav-mailText {
    color: #ffffff;
}

.nav-mail-item:hover, .nav-mail-item-selected {
    background-color: #c55478;
}

.nav-mail-item span {
    background-color: #7b2b4f;
    border-color: #A34972;
    -webkit-box-shadow: inset 0px 0px 0px 1px #B06E8C;
    -moz-box-shadow: inset 0px 0px 0px 1px #B06E8C;
    box-shadow: inset 0px 0px 0px 1px #B06E8C;
}

.nav-mail-item:hover span {
    background-color: #aa395d;
}

.userinfo span {
    background-color: #AA4061;
    color: #ffffff;
}

    .userinfo span div {
        background-color: #D5557C;
        font-size: 15px;
    }

    
.gv-header {
    background-color: #BE3760;
    border-color: #226727;
    color: #ffffff;
}  .gv-row-style:hover, .gv-alternaterow-style:hover {
        background-color: #ECA9BE; /*#73a039;*/
    }
.container-box {
    background-color: #FAF1F5;
}