.ui-h-menu {
    border-color: #539A88;
    background: #478c7a;
    background: -moz-linear-gradient(top, #478c7a 0%, #40937e 50%, #32856f 51%, #347363 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #478c7a), color-stop(50%, #40937e), color-stop(51%, #32856f), color-stop(100%, #347363));
    background: -webkit-linear-gradient(top, #478c7a 0%, #40937e 50%, #32856f 51%, #347363 100%);
    background: -o-linear-gradient(top, #478c7a 0%, #40937e 50%, #32856f 51%, #347363 100%);
    background: -ms-linear-gradient(top, #478c7a 0%, #40937e 50%, #32856f 51%, #347363 100%);
    background: linear-gradient(to bottom, #478c7a 0%, #40937e 50%, #32856f 51%, #347363 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#478c7a', endColorstr='#347363', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 0px 1px #75A99B;
    -moz-box-shadow: inset 0px 0px 0px 1px #75A99B;
    box-shadow: inset 0px 0px 0px 1px #75A99B;
}
/*##############Superfish*/
/*##Superfish-Horizontal*/
.sf-menu a {
    border-color: #539A88;
    -webkit-box-shadow: inset 0px 0px 0px 1px #75A99B;
    -moz-box-shadow: inset 0px 0px 0px 1px #75A99B;
    box-shadow: inset 0px 0px 0px 1px #75A99B;
}




/*##Superfish-Vertical*/
/*Superfish##############*/
.radyn-Resources {
    border-color: #539A88;
    background: #478c7a;
    background: -moz-linear-gradient(top, #478c7a 0%, #40937e 50%, #32856f 51%, #347363 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #478c7a), color-stop(50%, #40937e), color-stop(51%, #32856f), color-stop(100%, #347363));
    background: -webkit-linear-gradient(top, #478c7a 0%, #40937e 50%, #32856f 51%, #347363 100%);
    background: -o-linear-gradient(top, #478c7a 0%, #40937e 50%, #32856f 51%, #347363 100%);
    background: -ms-linear-gradient(top, #478c7a 0%, #40937e 50%, #32856f 51%, #347363 100%);
    background: linear-gradient(to bottom, #478c7a 0%, #40937e 50%, #32856f 51%, #347363 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#478c7a', endColorstr='#347363', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 0px 1px #75A99B;
    -moz-box-shadow: inset 0px 0px 0px 1px #75A99B;
    box-shadow: inset 0px 0px 0px 1px #75A99B;
}

/*container*/
.container-hd {
    border: 1px solid #539A88;
}

.container-header {
    background: #67b49f;
    background: -moz-linear-gradient(top, #67b49f 0%, #66bea7 50%, #4faf95 51%, #4c9784 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #67b49f), color-stop(50%, #66bea7), color-stop(51%, #4faf95), color-stop(100%, #4c9784));
    background: -webkit-linear-gradient(top, #67b49f 0%, #66bea7 50%, #4faf95 51%, #4c9784 100%);
    background: -o-linear-gradient(top, #67b49f 0%, #66bea7 50%, #4faf95 51%, #4c9784 100%);
    background: -ms-linear-gradient(top, #67b49f 0%, #66bea7 50%, #4faf95 51%, #4c9784 100%);
    background: linear-gradient(to bottom, #67b49f 0%, #66bea7 50%, #4faf95 51%, #4c9784 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67b49f', endColorstr='#4c9784', GradientType=0 );
    border-bottom: solid 1px #539A55;
}
/**/

/*MENU*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default , .sf-menu li {
    border-color: #539A88;
    background: #478c7a;
    background-color: #478c7a;
    background: -moz-linear-gradient(top, #478c7a 0%, #40937e 50%, #32856f 51%, #347363 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #478c7a), color-stop(50%, #40937e), color-stop(51%, #32856f), color-stop(100%, #347363));
    background: -webkit-linear-gradient(top, #478c7a 0%, #40937e 50%, #32856f 51%, #347363 100%);
    background: -o-linear-gradient(top, #478c7a 0%, #40937e 50%, #32856f 51%, #347363 100%);
    background: -ms-linear-gradient(top, #478c7a 0%, #40937e 50%, #32856f 51%, #347363 100%);
    background: linear-gradient(to bottom, #478c7a 0%, #40937e 50%, #32856f 51%, #347363 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#478c7a', endColorstr='#347363', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 0px 1px #75A99B;
    -moz-box-shadow: inset 0px 0px 0px 1px #75A99B;
    box-shadow: inset 0px 0px 0px 1px #75A99B;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus , .sf-menu li:hover, .sf-menu li.sfHover {
    border-color: #A2B03D;
    background: #93a030;
    background: -moz-linear-gradient(top, #93a030 0%, #9cae26 50%, #8ea018 51%, #7b891f 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #93a030), color-stop(50%, #9cae26), color-stop(51%, #8ea018), color-stop(100%, #7b891f));
    background: -webkit-linear-gradient(top, #93a030 0%, #9cae26 50%, #8ea018 51%, #7b891f 100%);
    background: -o-linear-gradient(top, #93a030 0%, #9cae26 50%, #8ea018 51%, #7b891f 100%);
    background: -ms-linear-gradient(top, #93a030 0%, #9cae26 50%, #8ea018 51%, #7b891f 100%);
    background: linear-gradient(to bottom, #93a030 0%, #9cae26 50%, #8ea018 51%, #7b891f 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93a030', endColorstr='#7b891f', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 0px 1px #AEB863;
    -moz-box-shadow: inset 0px 0px 0px 1px #AEB863;
    box-shadow: inset 0px 0px 0px 1px #AEB863;
}

/* General link styling */


/* The hover state of the menu/submenu links */
.cssmenu > ul li a:hover,
.cssmenu > ul li:hover > a {
    border-color: #539A88;
    background: #478c7a;
    background: -moz-linear-gradient(top, #478c7a 0%, #40937e 50%, #32856f 51%, #347363 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #478c7a), color-stop(50%, #40937e), color-stop(51%, #32856f), color-stop(100%, #347363));
    background: -webkit-linear-gradient(top, #478c7a 0%, #40937e 50%, #32856f 51%, #347363 100%);
    background: -o-linear-gradient(top, #478c7a 0%, #40937e 50%, #32856f 51%, #347363 100%);
    background: -ms-linear-gradient(top, #478c7a 0%, #40937e 50%, #32856f 51%, #347363 100%);
    background: linear-gradient(to bottom, #478c7a 0%, #40937e 50%, #32856f 51%, #347363 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#478c7a', endColorstr='#347363', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 0px 1px #75A99B;
    -moz-box-shadow: inset 0px 0px 0px 1px #75A99B;
    box-shadow: inset 0px 0px 0px 1px #75A99B;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

/* THE SUBMENUS */
.cssmenu > ul ul {
    /* Background & effects */
    background-color: #eef1f2;
    border: 1px solid #539A88;
}



/* End Vertical menu =====================================================================================*/


/*INTERNALMAIL*/
.nav-mail-item {
    background-color: #459782;
    border-color: #226727;
    border-top-style: none;
    text-shadow: 0 1px 0 #226727;
}

    .nav-mail-item:first-child {
        border-top: 1px solid #226727;
    }

.nav-mailText {
    color: #ffffff;
}

.nav-mail-item:hover, .nav-mail-item-selected {
    background-color: #93a030;
}

.nav-mail-item span {
    background-color: #3C8776;
    border-color: #226727;
}

.nav-mail-item:hover span {
    background-color: #838E2B;
}

.userinfo span {
    background-color: #539A88;
    color: #ffffff;
}

    .userinfo span div {
        background-color: #6BC0AA;
        font-size: 15px;
    }
    .gv-header {
    background-color: #459782;
    border-color: #226727;
    color: #ffffff;
}
    .gv-row-style:hover, .gv-alternaterow-style:hover {
        background-color: #B1D2B5; /*#73a039;*/
    }