.ui-h-menu {
    border-color: #53609A;
    background: #47548c;
    background: -moz-linear-gradient(top, #47548c 0%, #495899 50%, #324385 51%, #343f73 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #47548c), color-stop(50%, #495899), color-stop(51%, #324385), color-stop(100%, #343f73));
    background: -webkit-linear-gradient(top, #47548c 0%, #495899 50%, #324385 51%, #343f73 100%);
    background: -o-linear-gradient(top, #47548c 0%, #495899 50%, #324385 51%, #343f73 100%);
    background: -ms-linear-gradient(top, #47548c 0%, #495899 50%, #324385 51%, #343f73 100%);
    background: linear-gradient(to bottom, #47548c 0%, #495899 50%, #324385 51%, #343f73 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47548c', endColorstr='#343f73', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 0px 1px #757FA9;
    -moz-box-shadow: inset 0px 0px 0px 1px #757FA9;
    box-shadow: inset 0px 0px 0px 1px #757FA9;
}
/*##############Superfish*/
/*##Superfish-Horizontal*/
.sf-menu a {
    border-color: #53609A;
    -webkit-box-shadow: inset 0px 0px 0px 1px #757FA9;
    -moz-box-shadow: inset 0px 0px 0px 1px #757FA9;
    box-shadow: inset 0px 0px 0px 1px #757FA9;
}


.sf-menu li, .sf-menu ul li, .sf-menu ul ul li {
    background: #47548c;
    background: -moz-linear-gradient(top, #47548c 0%, #495899 50%, #324385 51%, #343f73 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #47548c), color-stop(50%, #495899), color-stop(51%, #324385), color-stop(100%, #343f73));
    background: -webkit-linear-gradient(top, #47548c 0%, #495899 50%, #324385 51%, #343f73 100%);
    background: -o-linear-gradient(top, #47548c 0%, #495899 50%, #324385 51%, #343f73 100%);
    background: -ms-linear-gradient(top, #47548c 0%, #495899 50%, #324385 51%, #343f73 100%);
    background: linear-gradient(to bottom, #47548c 0%, #495899 50%, #324385 51%, #343f73 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47548c', endColorstr='#343f73', GradientType=0 );
}


    .sf-menu li:hover,
    .sf-menu li.sfHover {
        background: #a12f6f;
        background: -moz-linear-gradient(top, #a12f6f 0%, #ae246e 50%, #a01662 51%, #891d58 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #a12f6f), color-stop(50%, #ae246e), color-stop(51%, #a01662), color-stop(100%, #891d58));
        background: -webkit-linear-gradient(top, #a12f6f 0%, #ae246e 50%, #a01662 51%, #891d58 100%);
        background: -o-linear-gradient(top, #a12f6f 0%, #ae246e 50%, #a01662 51%, #891d58 100%);
        background: -ms-linear-gradient(top, #a12f6f 0%, #ae246e 50%, #a01662 51%, #891d58 100%);
        background: linear-gradient(to bottom, #a12f6f 0%, #ae246e 50%, #a01662 51%, #891d58 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a12f6f', endColorstr='#891d58', GradientType=0 );
    }

    .sf-menu > li.sfHover > a, .sf-menu > li.sfHover > a:hover,
    .sf-menu > li > a:hover, .sf-menu > li.active > a,
    .sf-menu > li.active > a:hover, .sf-menu > li > ul li > a:hover,
    .sf-menu > li > ul li.sfHover > a, .sf-menu ul ul li a:hover {
        color: #ffffff;
        text-shadow: 1px 1px 1px #444444;
        -webkit-box-shadow: inset 0px 0px 0px 1px #B96292;
        -moz-box-shadow: inset 0px 0px 0px 1px #B96292;
        box-shadow: inset 0px 0px 0px 1px #B96292;
    }
/*##Superfish-Vertical*/
/*Superfish##############*/
.radyn-Resources {
    border-color: #53609A;
    background: #47548c;
    background: -moz-linear-gradient(top, #47548c 0%, #495899 50%, #324385 51%, #343f73 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #47548c), color-stop(50%, #495899), color-stop(51%, #324385), color-stop(100%, #343f73));
    background: -webkit-linear-gradient(top, #47548c 0%, #495899 50%, #324385 51%, #343f73 100%);
    background: -o-linear-gradient(top, #47548c 0%, #495899 50%, #324385 51%, #343f73 100%);
    background: -ms-linear-gradient(top, #47548c 0%, #495899 50%, #324385 51%, #343f73 100%);
    background: linear-gradient(to bottom, #47548c 0%, #495899 50%, #324385 51%, #343f73 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47548c', endColorstr='#343f73', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 0px 1px #757FA9;
    -moz-box-shadow: inset 0px 0px 0px 1px #757FA9;
    box-shadow: inset 0px 0px 0px 1px #757FA9;
}

/*container*/
.container-hd {
    border: 1px solid #4E4F9E;
}

.container-header {
    background: #6263b9;
    background: -moz-linear-gradient(top, #6263b9 0%, #6666c6 50%, #494bb5 51%, #47489d 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #6263b9), color-stop(50%, #6666c6), color-stop(51%, #494bb5), color-stop(100%, #47489d));
    background: -webkit-linear-gradient(top, #6263b9 0%, #6666c6 50%, #494bb5 51%, #47489d 100%);
    background: -o-linear-gradient(top, #6263b9 0%, #6666c6 50%, #494bb5 51%, #47489d 100%);
    background: -ms-linear-gradient(top, #6263b9 0%, #6666c6 50%, #494bb5 51%, #47489d 100%);
    background: linear-gradient(to bottom, #6263b9 0%, #6666c6 50%, #494bb5 51%, #47489d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6263b9', endColorstr='#47489d', GradientType=0 );
    border-bottom: solid 1px #53899A;
}




/**/

/*MENU*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-color: #53609A;
    background: #47548c;
    background: -moz-linear-gradient(top, #47548c 0%, #495899 50%, #324385 51%, #343f73 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #47548c), color-stop(50%, #495899), color-stop(51%, #324385), color-stop(100%, #343f73));
    background: -webkit-linear-gradient(top, #47548c 0%, #495899 50%, #324385 51%, #343f73 100%);
    background: -o-linear-gradient(top, #47548c 0%, #495899 50%, #324385 51%, #343f73 100%);
    background: -ms-linear-gradient(top, #47548c 0%, #495899 50%, #324385 51%, #343f73 100%);
    background: linear-gradient(to bottom, #47548c 0%, #495899 50%, #324385 51%, #343f73 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47548c', endColorstr='#343f73', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 0px 1px #757FA9;
    -moz-box-shadow: inset 0px 0px 0px 1px #757FA9;
    box-shadow: inset 0px 0px 0px 1px #757FA9;
    ;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border-color: #B13C7C;
    background: #a12f6f;
    background: -moz-linear-gradient(top, #a12f6f 0%, #ae246e 50%, #a01662 51%, #891d58 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #a12f6f), color-stop(50%, #ae246e), color-stop(51%, #a01662), color-stop(100%, #891d58));
    background: -webkit-linear-gradient(top, #a12f6f 0%, #ae246e 50%, #a01662 51%, #891d58 100%);
    background: -o-linear-gradient(top, #a12f6f 0%, #ae246e 50%, #a01662 51%, #891d58 100%);
    background: -ms-linear-gradient(top, #a12f6f 0%, #ae246e 50%, #a01662 51%, #891d58 100%);
    background: linear-gradient(to bottom, #a12f6f 0%, #ae246e 50%, #a01662 51%, #891d58 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a12f6f', endColorstr='#891d58', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 0px 1px #B96292;
    -moz-box-shadow: inset 0px 0px 0px 1px #B96292;
    box-shadow: inset 0px 0px 0px 1px #B96292;
}

/* General link styling */


/* The hover state of the menu/submenu links */
.cssmenu > ul li a:hover,
.cssmenu > ul li:hover > a {
    background: #a12f6f;
    background: -moz-linear-gradient(top, #a12f6f 0%, #ae246e 50%, #a01662 51%, #891d58 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #a12f6f), color-stop(50%, #ae246e), color-stop(51%, #a01662), color-stop(100%, #891d58));
    background: -webkit-linear-gradient(top, #a12f6f 0%, #ae246e 50%, #a01662 51%, #891d58 100%);
    background: -o-linear-gradient(top, #a12f6f 0%, #ae246e 50%, #a01662 51%, #891d58 100%);
    background: -ms-linear-gradient(top, #a12f6f 0%, #ae246e 50%, #a01662 51%, #891d58 100%);
    background: linear-gradient(to bottom, #a12f6f 0%, #ae246e 50%, #a01662 51%, #891d58 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a12f6f', endColorstr='#891d58', GradientType=0 );
    color: #ffffff;
}

/* THE SUBMENUS */
.cssmenu > ul ul {
    /* Background & effects */
    background-color: #F2F7F9;
    border: 1px solid #b5e1f5;
}



/* End Vertical menu =====================================================================================*/


/*INTERNALMAIL*/
.nav-mail-item {
    background-color: #47548c;
    border-color: #53609A;
    -webkit-box-shadow: inset 0px 0px 0px 1px #757FA9;
    -moz-box-shadow: inset 0px 0px 0px 1px #757FA9;
    box-shadow: inset 0px 0px 0px 1px #757FA9;
}

    .nav-mail-item:first-child {
        border-top: 1px solid #53609A;
    }

.nav-mailText {
    color: #ffffff;
}

.nav-mail-item:hover, .nav-mail-item-selected {
    background-color: #a12f6f;
}

.nav-mail-item span {
    background-color: #343f73;
    border-color: #53609A;
    -webkit-box-shadow: inset 0px 0px 0px 1px #757FA9;
    -moz-box-shadow: inset 0px 0px 0px 1px #757FA9;
    box-shadow: inset 0px 0px 0px 1px #757FA9;
}

.nav-mail-item:hover span {
    background-color: #891d58;
}

.userinfo span {
    background-color: #47548C;
    color: #ffffff;
}

    .userinfo span div {
        background-color: #455497;
        font-size: 15px;
    }

.gv-header {
    background-color: #324285;
    border-color: #53609A;
    color: #FFFFFF;
}

.gv-row-style:hover, .gv-alternaterow-style:hover {
    background-color: #A3B8D9; /*#73a039;*/
}

.container-box {
    background-color: #F2F7F9;
}
