.ui-h-menu {
    border-color: #4C7FA0;
    background: #407291;
    background: -moz-linear-gradient(top, #407291 0%, #3d779e 50%, #2a658d 51%, #2d5b7a 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #407291), color-stop(50%, #3d779e), color-stop(51%, #2a658d), color-stop(100%, #2d5b7a));
    background: -webkit-linear-gradient(top, #407291 0%, #3d779e 50%, #2a658d 51%, #2d5b7a 100%);
    background: -o-linear-gradient(top, #407291 0%, #3d779e 50%, #2a658d 51%, #2d5b7a 100%);
    background: -ms-linear-gradient(top, #407291 0%, #3d779e 50%, #2a658d 51%, #2d5b7a 100%);
    background: linear-gradient(to bottom, #407291 0%, #3d779e 50%, #2a658d 51%, #2d5b7a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#407291', endColorstr='#2d5b7a', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 0px 1px #6F96AE;
    -moz-box-shadow: inset 0px 0px 0px 1px #6F96AE;
    box-shadow: inset 0px 0px 0px 1px #6F96AE;
}
/*##############Superfish*/
/*##Superfish-Horizontal*/
.sf-menu a {
    border-color: #4C7FA0;
    -webkit-box-shadow: inset 0px 0px 0px 1px #6F96AE;
    -moz-box-shadow: inset 0px 0px 0px 1px #6F96AE;
    box-shadow: inset 0px 0px 0px 1px #6F96AE;
}


.sf-menu li, .sf-menu ul li, .sf-menu ul ul li {
    background: #407291;
    background: -moz-linear-gradient(top, #407291 0%, #3d779e 50%, #2a658d 51%, #2d5b7a 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #407291), color-stop(50%, #3d779e), color-stop(51%, #2a658d), color-stop(100%, #2d5b7a));
    background: -webkit-linear-gradient(top, #407291 0%, #3d779e 50%, #2a658d 51%, #2d5b7a 100%);
    background: -o-linear-gradient(top, #407291 0%, #3d779e 50%, #2a658d 51%, #2d5b7a 100%);
    background: -ms-linear-gradient(top, #407291 0%, #3d779e 50%, #2a658d 51%, #2d5b7a 100%);
    background: linear-gradient(to bottom, #407291 0%, #3d779e 50%, #2a658d 51%, #2d5b7a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#407291', endColorstr='#2d5b7a', GradientType=0 );
}



    .sf-menu li:hover,
    .sf-menu li.sfHover {
        background: #38a0c6;
        background: -moz-linear-gradient(top, #38a0c6 0%, #2aa6d7 50%, #1e9acb 51%, #2a8cb3 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #38a0c6), color-stop(50%, #2aa6d7), color-stop(51%, #1e9acb), color-stop(100%, #2a8cb3));
        background: -webkit-linear-gradient(top, #38a0c6 0%, #2aa6d7 50%, #1e9acb 51%, #2a8cb3 100%);
        background: -o-linear-gradient(top, #38a0c6 0%, #2aa6d7 50%, #1e9acb 51%, #2a8cb3 100%);
        background: -ms-linear-gradient(top, #38a0c6 0%, #2aa6d7 50%, #1e9acb 51%, #2a8cb3 100%);
        background: linear-gradient(to bottom, #38a0c6 0%, #2aa6d7 50%, #1e9acb 51%, #2a8cb3 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38a0c6', endColorstr='#2a8cb3', GradientType=0 );
        -webkit-box-shadow: inset 0px 0px 0px 1px #69B8D5;
        -moz-box-shadow: inset 0px 0px 0px 1px #69B8D5;
        box-shadow: inset 0px 0px 0px 1px #69B8D5;
    }

    .sf-menu > li.sfHover > a, .sf-menu > li.sfHover > a:hover,
    .sf-menu > li > a:hover, .sf-menu > li.active > a,
    .sf-menu > li.active > a:hover, .sf-menu > li > ul li > a:hover,
    .sf-menu > li > ul li.sfHover > a, .sf-menu ul ul li a:hover {
        color: #ffffff;
        text-shadow: 1px 1px 1px #444444;
    }
/*##Superfish-Vertical*/
/*Superfish##############*/
.radyn-Resources {
    border-color: #4C7FA0;
    background: #407291;
    background: -moz-linear-gradient(top, #407291 0%, #3d779e 50%, #2a658d 51%, #2d5b7a 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #407291), color-stop(50%, #3d779e), color-stop(51%, #2a658d), color-stop(100%, #2d5b7a));
    background: -webkit-linear-gradient(top, #407291 0%, #3d779e 50%, #2a658d 51%, #2d5b7a 100%);
    background: -o-linear-gradient(top, #407291 0%, #3d779e 50%, #2a658d 51%, #2d5b7a 100%);
    background: -ms-linear-gradient(top, #407291 0%, #3d779e 50%, #2a658d 51%, #2d5b7a 100%);
    background: linear-gradient(to bottom, #407291 0%, #3d779e 50%, #2a658d 51%, #2d5b7a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#407291', endColorstr='#2d5b7a', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 0px 1px #6F96AE;
    -moz-box-shadow: inset 0px 0px 0px 1px #6F96AE;
    box-shadow: inset 0px 0px 0px 1px #6F96AE;
}

/*container*/
.container-hd {
    border: 1px solid #53899A;
}

.container-header {
    background: #67a1b4;
    background: -moz-linear-gradient(top, #67a1b4 0%, #66a9be 50%, #4f99af 51%, #4c8597 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #67a1b4), color-stop(50%, #66a9be), color-stop(51%, #4f99af), color-stop(100%, #4c8597));
    background: -webkit-linear-gradient(top, #67a1b4 0%, #66a9be 50%, #4f99af 51%, #4c8597 100%);
    background: -o-linear-gradient(top, #67a1b4 0%, #66a9be 50%, #4f99af 51%, #4c8597 100%);
    background: -ms-linear-gradient(top, #67a1b4 0%, #66a9be 50%, #4f99af 51%, #4c8597 100%);
    background: linear-gradient(to bottom, #67a1b4 0%, #66a9be 50%, #4f99af 51%, #4c8597 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67a1b4', endColorstr='#4c8597', GradientType=0 );
    border-bottom: solid 1px #53899A;
}




/**/

/*MENU*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-color: #4C7FA0;
    background: #407291;
    background: -moz-linear-gradient(top, #407291 0%, #3d779e 50%, #2a658d 51%, #2d5b7a 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #407291), color-stop(50%, #3d779e), color-stop(51%, #2a658d), color-stop(100%, #2d5b7a));
    background: -webkit-linear-gradient(top, #407291 0%, #3d779e 50%, #2a658d 51%, #2d5b7a 100%);
    background: -o-linear-gradient(top, #407291 0%, #3d779e 50%, #2a658d 51%, #2d5b7a 100%);
    background: -ms-linear-gradient(top, #407291 0%, #3d779e 50%, #2a658d 51%, #2d5b7a 100%);
    background: linear-gradient(to bottom, #407291 0%, #3d779e 50%, #2a658d 51%, #2d5b7a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#407291', endColorstr='#2d5b7a', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 0px 1px #6F96AE;
    -moz-box-shadow: inset 0px 0px 0px 1px #6F96AE;
    box-shadow: inset 0px 0px 0px 1px #6F96AE;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border-color: #41ABD4;
    background: #38a0c6;
    background: -moz-linear-gradient(top, #38a0c6 0%, #2aa6d7 50%, #1e9acb 51%, #2a8cb3 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #38a0c6), color-stop(50%, #2aa6d7), color-stop(51%, #1e9acb), color-stop(100%, #2a8cb3));
    background: -webkit-linear-gradient(top, #38a0c6 0%, #2aa6d7 50%, #1e9acb 51%, #2a8cb3 100%);
    background: -o-linear-gradient(top, #38a0c6 0%, #2aa6d7 50%, #1e9acb 51%, #2a8cb3 100%);
    background: -ms-linear-gradient(top, #38a0c6 0%, #2aa6d7 50%, #1e9acb 51%, #2a8cb3 100%);
    background: linear-gradient(to bottom, #38a0c6 0%, #2aa6d7 50%, #1e9acb 51%, #2a8cb3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38a0c6', endColorstr='#2a8cb3', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 0px 1px #69B8D5;
    -moz-box-shadow: inset 0px 0px 0px 1px #69B8D5;
    box-shadow: inset 0px 0px 0px 1px #69B8D5;
}

/* General link styling */


/* The hover state of the menu/submenu links */
.cssmenu > ul li a:hover,
.cssmenu > ul li:hover > a {
    border-color: #b5e1f5;
    background: #0392C6; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top, #0099DE 0%, #007BA9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0099DE), color-stop(100%,#007BA9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0099DE 0%,#007BA9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0099DE 0%,#007BA9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0099DE 0%,#007BA9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0099DE 0%,#007BA9 100%); /* W3C */
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

/* THE SUBMENUS */
.cssmenu > ul ul {
    /* Background & effects */
    background-color: #F2F7F9;
    border: 1px solid #b5e1f5;
}



/* End Vertical menu =====================================================================================*/


/*INTERNALMAIL*/
.nav-mail-item {
    background-color: #407291;
    border-color: #4C7FA0;
    -webkit-box-shadow: inset 0px 0px 0px 1px #6F96AE;
    -moz-box-shadow: inset 0px 0px 0px 1px #6F96AE;
    box-shadow: inset 0px 0px 0px 1px #6F96AE;
}

    .nav-mail-item:first-child {
        border-top: 1px solid #4C7FA0;
    }

.nav-mailText {
    color: #ffffff;
}

.nav-mail-item:hover, .nav-mail-item-selected {
    background-color: #38a0c6;
}


.container-box {
    background-color: #F2F7F9;
}
.nav-mail-item span {
    background-color: #2d5b7a;
    border-color: #4C7FA0;
    -webkit-box-shadow: inset 0px 0px 0px 1px #6F96AE;
    -moz-box-shadow: inset 0px 0px 0px 1px #6F96AE;
    box-shadow: inset 0px 0px 0px 1px #6F96AE;
}

.nav-mail-item:hover span {
    background-color: #2a8cb3;
}

.userinfo span {
    background-color: #2A6388;
    color: #ffffff;
}

    .userinfo span div {
        background-color: #3D779E;
        font-size: 15px;
    }

.gv-header {
    background-color: #3D779E;
    border-color: #2A6388;
    color: #ffffff;
}



.gv-row-style:hover, .gv-alternaterow-style:hover {
    background-color: #75A7C8; /*#73a039;*/
}
