.ui-top-bar {
    background: rgb(246,248,249); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjhmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U1ZWJlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Q3ZGVlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY3ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-8 */
}

    .ui-top-bar a {
        color: #464646;
    }

.sf-menu li:hover, .sf-menu li.sfHover {
    background-color: #D20a11;
}

.sc, .sc:hover {
    border-radius: 0px;
}

.sf-menu a {
    border: none;
}

.ui-h-menu {
    background: #487482;
    border-color: #487482;
}
/*##############Superfish*/
/*##Superfish-Horizontal*/
.sf-menu a {
    box-shadow: none;
    border-radius: 0;
}


.sf-menu li, .sf-menu ul li, .sf-menu ul ul li {
    background: #487482;
}



    .sf-menu li:hover,
    .sf-menu li.sfHover {
        background: #639292;
    }

    .sf-menu > li.sfHover > a, .sf-menu > li.sfHover > a:hover,
    .sf-menu > li > a:hover, .sf-menu > li.active > a,
    .sf-menu > li.active > a:hover, .sf-menu > li > ul li > a:hover,
    .sf-menu > li > ul li.sfHover > a, .sf-menu ul ul li a:hover {
        color: #2d2d2d;
    }
/*##Superfish-Vertical*/
/*Superfish##############*/
.radyn-Resources {
    background-color: #074853;
    border-color: #010B0B;
}
/*container*/
.sf-menu a.sf-with-ul {
    border: none;
}

.container-hd {
    border: 1px solid #D3D3D3;
    box-shadow: 0 2px 5px #999999;
}


#example > li > a {
    border-top: none;
}

.container-header {
    background: #ADD8E6;
}


.container-header-item {
    color: #000000;
}

/**/

/*MENU*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-color: #fff;
    background: #487482;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #639292;
}
.container-box {
    background: linear-gradient(to bottom, #EAEAEA 0%, #DCDBDB 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
/* General link styling */


/* The hover state of the menu/submenu links */
.cssmenu > ul li a:hover,
.cssmenu > ul li:hover > a {
    border-color: #507530;
    background: #57c160;
    background: -moz-linear-gradient(top, #57c160 0%, #2da22d 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #57c160), color-stop(100%, #2da22d));
    background: -webkit-linear-gradient(top, #57c160 0%, #2da22d 100%);
    background: -o-linear-gradient(top, #57c160 0%, #2da22d 100%);
    background: -ms-linear-gradient(top, #57c160 0%, #2da22d 100%);
    background: linear-gradient(to bottom, #57c160 0%, #2da22d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57c160', endColorstr='#2da22d', GradientType=0 );
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

/* THE SUBMENUS */
.cssmenu > ul ul {
    /* Background & effects */
    background-color: #EEF1F2;
    border: 1px solid #507530;
}



/* End Vertical menu =====================================================================================*/


/*INTERNALMAIL*/
.nav-mail-item {
    background-color: #487482;
    border-color: #ffffff;
    text-shadow: 0 1px 0 #385D66;
}



    .nav-mail-item:first-child {
        border-top: 1px solid #226727;
    }

.nav-mailText {
    color: #ffffff;
}

.nav-mail-item:hover, .nav-mail-item-selected {
    background-color: #639292;
}

.nav-mail-item span {
    background-color: #406874;
    border-color: #ffffff;
    box-shadow: none;
}

.nav-mail-item:hover span {
    background-color: #527878;
}

.userinfo span {
    background-color: #51808D;
    color: #ffffff;
}

    .userinfo span div {
        background-color: #639FAF;
    }

ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
    right: 100%;
    left: auto;
    min-width: 100%;
}

/*--GridView--*/
.gv-table {
    font-size: 12px;
}

.gv-header {
    background-color: #639FAF;
    border-color: #51808D;
    color: #ffffff;
}

.gv-row-style {
    background-color: #F1F2F3;
    border-color: #A1AAA0;
}

.gv-alternaterow-style {
    background-color: #C7D6A7;
    border-color: #486B23;
}

    .gv-row-style:hover, .gv-alternaterow-style:hover {
        background-color: #F5BD22; /*#73a039;*/
    }

.gv-cell {
    float: right;
    border-color: #A1AAA0 /*#BDCB9E*/;
}

.gv-footer {
    /*background-color: #A7BC75;
    border: solid 1px #486B23;
    color: #ffffff;*/
    background: url("/Content/2013.2.611/Office2010Silver/gradient.png") repeat-x scroll 0 center #D2D5D9;
    border-color: #A1AAA0;
    color: #999999;
}

    .gv-footer ul li {
        background-color: #D1DEB6;
    }

        .gv-footer ul li:hover, #active {
            background-color: #6c9f4f;
        }

            .gv-footer ul li:hover, #active, .gv-footer ul li:hover a, #active a {
                color: #ffffff;
                text-shadow: 1px 1px 1px #486B23;
            }

        .gv-footer ul li a {
            color: #486B23;
            text-shadow: 1px 1px 1px #ffffff;
        }

.gv-icon {
}

.gv-status {
    border-color: #486B23;
}

