.ui-top-bar {
    background: rgb(246,248,249); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjhmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U1ZWJlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Q3ZGVlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY3ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-8 */
}

    .ui-top-bar a {
        color: #464646;
    }

.sf-menu li:hover, .sf-menu li.sfHover {
    background-color: #D20a11;
}

.sc, .sc:hover {
    border-radius: 0px;
}

.ui-h-menu {
    border-color: #507530;
    background: #57c160;
    background: -moz-linear-gradient(top, #57c160 0%, #2da22d 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #57c160), color-stop(100%, #2da22d));
    background: -webkit-linear-gradient(top, #57c160 0%, #2da22d 100%);
    background: -o-linear-gradient(top, #57c160 0%, #2da22d 100%);
    background: -ms-linear-gradient(top, #57c160 0%, #2da22d 100%);
    background: linear-gradient(to bottom, #57c160 0%, #2da22d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57c160', endColorstr='#2da22d', GradientType=0 );
}
/*##############Superfish*/
/*##Superfish-Horizontal*/
.sf-menu a {
    box-shadow: none;
    border-radius: 0;
}


.sf-menu li, .sf-menu ul li, .sf-menu ul ul li {
    background: #57c160;
    background: -moz-linear-gradient(top, #57c160 0%, #2da22d 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #57c160), color-stop(100%, #2da22d));
    background: -webkit-linear-gradient(top, #57c160 0%, #2da22d 100%);
    background: -o-linear-gradient(top, #57c160 0%, #2da22d 100%);
    background: -ms-linear-gradient(top, #57c160 0%, #2da22d 100%);
    background: linear-gradient(to bottom, #57c160 0%, #2da22d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57c160', endColorstr='#2da22d', GradientType=0 );
}

.sf-menu ul li {
    border-top: 1px solid #FFFFFF; /* fallback colour must use full shorthand */
    border-top: 1px solid rgba(255,255,255,.5);
}

.sf-menu li:hover,
.sf-menu li.sfHover {
    background: #9DDC65;
    background: -moz-linear-gradient(top, #9DDC65 0%, #90cb5c 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #9DDC65), color-stop(100%, #90cb5c));
    background: -webkit-linear-gradient(top, #9DDC65 0%, #90cb5c 100%);
    background: -o-linear-gradient(top, #9DDC65 0%, #90cb5c 100%);
    background: -ms-linear-gradient(top, #9DDC65 0%, #90cb5c 100%);
    background: linear-gradient(to bottom, #9DDC65 0%, #90cb5c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9DDC65', endColorstr='#90cb5c', GradientType=0 );
}

.sf-menu > li.sfHover > a, .sf-menu > li.sfHover > a:hover,
.sf-menu > li > a:hover, .sf-menu > li.active > a,
.sf-menu > li.active > a:hover, .sf-menu > li > ul li > a:hover,
.sf-menu > li > ul li.sfHover > a, .sf-menu ul ul li a:hover {
    color: #2d2d2d;
}
/*##Superfish-Vertical*/
/*Superfish##############*/
.radyn-Resources {
    border-color: #507530;
    background: #57c160;
    background: -moz-linear-gradient(top, #57c160 0%, #2da22d 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #57c160), color-stop(100%, #2da22d));
    background: -webkit-linear-gradient(top, #57c160 0%, #2da22d 100%);
    background: -o-linear-gradient(top, #57c160 0%, #2da22d 100%);
    background: -ms-linear-gradient(top, #57c160 0%, #2da22d 100%);
    background: linear-gradient(to bottom, #57c160 0%, #2da22d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57c160', endColorstr='#2da22d', GradientType=0 );
    -webkit-box-shadow: inset 0px 0px 1px 1px #D6E1D6;
    -moz-box-shadow: inset 0px 0px 1px 1px #D6E1D6;
    box-shadow: inset 0px 0px 1px 1px #D6E1D6;
}
/*container*/
.sf-menu a.sf-with-ul {
    border: none;
}

.container-hd {
    border: 1px solid #507530;
}


#example > li > a {
    border-top: none;
}

.container-header {
    background: #41a848;
    background: -moz-linear-gradient(top, #41a848 0%, #1a7b1a 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #41a848), color-stop(100%, #1a7b1a));
    background: -webkit-linear-gradient(top, #41a848 0%, #1a7b1a 100%);
    background: -o-linear-gradient(top, #41a848 0%, #1a7b1a 100%);
    background: -ms-linear-gradient(top, #41a848 0%, #1a7b1a 100%);
    background: linear-gradient(to bottom, #41a848 0%, #1a7b1a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41a848', endColorstr='#1a7b1a', GradientType=0 );
}




/**/

/*MENU*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-color: #507530;
    background: #57c160;
    background: -moz-linear-gradient(top, #57c160 0%, #2da22d 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #57c160), color-stop(100%, #2da22d));
    background: -webkit-linear-gradient(top, #57c160 0%, #2da22d 100%);
    background: -o-linear-gradient(top, #57c160 0%, #2da22d 100%);
    background: -ms-linear-gradient(top, #57c160 0%, #2da22d 100%);
    background: linear-gradient(to bottom, #57c160 0%, #2da22d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57c160', endColorstr='#2da22d', GradientType=0 );
    color: #ffffff;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #9DDC65;
    background: -moz-linear-gradient(top, #9DDC65 0%, #90cb5c 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #9DDC65), color-stop(100%, #90cb5c));
    background: -webkit-linear-gradient(top, #9DDC65 0%, #90cb5c 100%);
    background: -o-linear-gradient(top, #9DDC65 0%, #90cb5c 100%);
    background: -ms-linear-gradient(top, #9DDC65 0%, #90cb5c 100%);
    background: linear-gradient(to bottom, #9DDC65 0%, #90cb5c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9DDC65', endColorstr='#90cb5c', GradientType=0 );
    color: #ffffff !important;
}

/* General link styling */


/* The hover state of the menu/submenu links */
.cssmenu > ul li a:hover,
.cssmenu > ul li:hover > a {
    border-color: #507530;
        background: #57c160;
        background: -moz-linear-gradient(top, #57c160 0%, #2da22d 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #57c160), color-stop(100%, #2da22d));
        background: -webkit-linear-gradient(top, #57c160 0%, #2da22d 100%);
        background: -o-linear-gradient(top, #57c160 0%, #2da22d 100%);
        background: -ms-linear-gradient(top, #57c160 0%, #2da22d 100%);
        background: linear-gradient(to bottom, #57c160 0%, #2da22d 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57c160', endColorstr='#2da22d', GradientType=0 );
        color: #ffffff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

/* THE SUBMENUS */
.cssmenu > ul ul {
    /* Background & effects */
    background-color: #EEF1F2;
    border: 1px solid #507530;
}



/* End Vertical menu =====================================================================================*/


/*INTERNALMAIL*/
.nav-mail-item {
    background-color: #4CB952;
    border-color: #226727;
    text-shadow: 0 1px 0 #226727;
}



    .nav-mail-item:first-child {
        border-top: 1px solid #226727;
    }

.nav-mailText {
    color: #ffffff;
}

.nav-mail-item:hover, .nav-mail-item-selected {
    background-color: #9DDC65;
}

.nav-mail-item span {
    background-color: #2DA22D;
    border-color: #226727;
    box-shadow: none;
}

.nav-mail-item:hover span {
    background-color: #90cb5c;
}

.userinfo span {
    background-color: #38913B;
    color: #ffffff;
}

    .userinfo span div {
        background-color: #40B044;
        font-size: 15px;
    }
.gv-header {
    background-color: #5EBA61;
    border-color: #4F9451;
    color: #FFFFFF;
}