.ui-top-bar {
    width: 100%;
    background-color: #D20a11;
    color: #ffffff;
}

    .ui-top-bar a {
        color: #464646;
    }

.sf-menu li:hover, .sf-menu li.sfHover {
    background-color: #D20a11;
}

.sc, .sc:hover {
    border-radius: 0px;
}

.ui-h-menu {
    border-color: #9D090D;
    background: #D20a11;
    width: 100%;
    box-shadow: none;
}
/*##############Superfish*/
/*##Superfish-Horizontal*/
.sf-menu a {
    box-shadow: none;
    border-radius: 0;
}


.sf-menu li, .sf-menu ul li, .sf-menu ul ul li {
    background: #D20a11;
}

.sf-menu ul li {
    border-top: 1px solid #9D090D;
    border-radius: 6px;
}

.sf-menu li:hover,
.sf-menu li.sfHover {
    background: #D20a11;
    border-radius: 6px;
}

.sf-menu > li.sfHover > a, .sf-menu > li.sfHover > a:hover,
.sf-menu > li > a:hover, .sf-menu > li.active > a,
.sf-menu > li.active > a:hover, .sf-menu > li > ul li > a:hover,
.sf-menu > li > ul li.sfHover > a, .sf-menu ul ul li a:hover {
    color: #2d2d2d;
}
/*##Superfish-Vertical*/
/*Superfish##############*/
.radyn-Resources {
    border-color: #9D090D;
    background-color: #D20a11;
}
/*container*/
.sf-menu a.sf-with-ul {
    border: none;
}

.container-hd {
    border: 1px solid #9D090D;
}


#example > li > a {
    border-top: none;
}

.container-header {
    background: #D20a11;
}




/**/

/*MENU*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-color: #9D090D;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border-color: #9D090D;
}

/* General link styling */


/* The hover state of the menu/submenu links */
.cssmenu > ul li a:hover,
.cssmenu > ul li:hover > a {
    border-color: #9D090D;
    background-color: #D20a11;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

/* THE SUBMENUS */
.cssmenu > ul ul {
    /* Background & effects */
    background-color: #EEF1F2;
    border: 1px solid #9D090D;
}



/* End Vertical menu =====================================================================================*/


/*INTERNALMAIL*/
.nav-mail-item {
    background-color: #D20A11;
    border-color: #9d090d;
    box-shadow: none;
}


    .nav-mail-item:first-child {
        border-top: 1px solid #9d090d;
    }

.nav-mailText {
    color: #ffffff;
}

.nav-mail-item:hover, .nav-mail-item-selected {
    background-color: #AB2F34;
}

.nav-mail-item span {
    background-color: #BC080E;
    border-color: #9d090d;
    box-shadow: none;
}

.nav-mail-item:hover span {
    background-color: #97272B;
}

.userinfo span {
    background-color: #D15257;
    color: #ffffff;
}

    .userinfo span div {
        background-color: #fe656a;
        font-size: 15px;
    }

.gv-header {
    background: #fe656a;
    border-color: #D15257;
    color: #FFFFFF;
}
 .gv-row-style:hover, .gv-alternaterow-style:hover {
        background-color: #FAA9AC; /*#73a039;*/
    }