<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="telerik">
      <section name="webAssets" type="Telerik.Web.Mvc.Configuration.WebAssetConfigurationSection, Telerik.Web.Mvc" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="radyn">
      <section name="sessionState" type="Radyn.Web.Manager.SessionState, Radyn.Web" requirePermission="false"/>
      <section name="log" type="Radyn.LogSettings,Radyn" requirePermission="false"/>
      <section name="smtp" type="Radyn.Message.Tools.MailSetting, Radyn.Message, Version=1.0.0.0, Culture=neutral" requirePermission="false"/>
      <section name="language" type="Radyn.Common.Component.LanguageSetting, Radyn.Common, Version=1.0.0.0, Culture=neutral" requirePermission="false"/>
      <section name="GetWayInfo" type="Radyn.Payment.Tools.TerminalInfo, Radyn.Payment, Version=1.0.0.0, Culture=neutral" requirePermission="false"/>
      <section name="congress" type="Radyn.Congress.Settings.CongressSetting, Radyn.Congress, Version=1.0.0.0, Culture=neutral" requirePermission="false"/>
      <section name="CongressScheduler" type="Radyn.Congress.Settings.JobSchedulerSetting, Radyn.Congress, Version=1.0.0.0, Culture=neutral" requirePermission="false"/>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="SecurityEntities" connectionString="Data Source=192.168.1.254;Initial Catalog=Homa_newControl_Zibasazi;Persist Security Info=True;User ID=sa;Password=r2+www.google.com;Max Pool Size=10000;MultipleActiveResultSets=True;"/>
    <add name="EnterpriseNodeEntities" connectionString="Data Source=192.168.1.254;Initial Catalog=Homa_newControl_Zibasazi;Persist Security Info=True;User ID=sa;Password=r2+www.google.com;Max Pool Size=10000;MultipleActiveResultSets=True;"/>
    <add name="FileManagerEntities" connectionString="Data Source=192.168.1.254;Initial Catalog=Homa_newControl_Zibasazi;Persist Security Info=True;User ID=sa;Password=r2+www.google.com;Max Pool Size=10000;MultipleActiveResultSets=True;"/>
    <add name="FAQEntities" connectionString="Data Source=192.168.1.254;Initial Catalog=Homa_newControl_Zibasazi;Persist Security Info=True;User ID=sa;Password=r2+www.google.com;Max Pool Size=10000;MultipleActiveResultSets=True;"/>
    <add name="GalleryEntities" connectionString="Data Source=192.168.1.254;Initial Catalog=Homa_newControl_Zibasazi;Persist Security Info=True;User ID=sa;Password=r2+www.google.com;Max Pool Size=10000;MultipleActiveResultSets=True;"/>
    <add name="CommonEntities" connectionString="Data Source=192.168.1.254;Initial Catalog=Homa_newControl_Zibasazi;Persist Security Info=True;User ID=sa;Password=r2+www.google.com;Max Pool Size=10000;MultipleActiveResultSets=True;"/>
    <add name="HelpEntities" connectionString="Data Source=192.168.1.254;Initial Catalog=Homa_newControl_Zibasazi;Persist Security Info=True;User ID=sa;Password=r2+www.google.com;Max Pool Size=10000;MultipleActiveResultSets=True;"/>
    <add name="ChatEntities" connectionString="Data Source=192.168.1.254;Initial Catalog=Homa_newControl_Zibasazi;Persist Security Info=True;User ID=sa;Password=r2+www.google.com;Max Pool Size=10000;MultipleActiveResultSets=True;"/>
    <add name="NewsEntities" connectionString="Data Source=192.168.1.254;Initial Catalog=Homa_newControl_Zibasazi;Persist Security Info=True;User ID=sa;Password=r2+www.google.com;Max Pool Size=10000;MultipleActiveResultSets=True;"/>
    <add name="ContentManagerEntities" connectionString="Data Source=192.168.1.254;Initial Catalog=Homa_newControl_Zibasazi;persist security info=True;User ID=sa;Password=r2+www.google.com;Max Pool Size=10000;MultipleActiveResultSets=True;"/>
    <add name="MessageEntities" connectionString="Data Source=192.168.1.254;Initial Catalog=Homa_newControl_Zibasazi;Persist Security Info=True;User ID=sa;Password=r2+www.google.com;Max Pool Size=10000;MultipleActiveResultSets=True;"/>
    <add name="CongressEntities" connectionString="Data Source=192.168.1.254;Initial Catalog=Homa_newControl_Zibasazi;persist security info=True;User ID=sa;Password=r2+www.google.com;Max Pool Size=10000;MultipleActiveResultSets=True;"/>
    <add name="CalanderEntities" connectionString="Data Source=192.168.1.254;Initial Catalog=Homa_newControl_Zibasazi;persist security info=True;User ID=sa;Password=r2+www.google.com;Max Pool Size=10000;MultipleActiveResultSets=True;"/>
    <add name="StatisticEntities" connectionString="Data Source=192.168.1.254;Initial Catalog=Homa_newControl_Zibasazi;persist security info=True;User ID=sa;Password=r2+www.google.com;Max Pool Size=10000;multipleactiveresultsets=True;"/>
    <add name="PaymentEntities" connectionString="Data Source=192.168.1.254;Initial Catalog=Homa_newControl_Zibasazi;persist security info=True;User ID=sa;Password=r2+www.google.com;Max Pool Size=10000;MultipleActiveResultSets=True;"/>
    <add name="FormGeneratorEntities" connectionString="Data Source=192.168.1.254;Initial Catalog=Homa_newControl_Zibasazi;Persist Security Info=True;User ID=sa;Password=r2+www.google.com;Max Pool Size=10000;MultipleActiveResultSets=True;"/>
    <add name="SliderEntities" connectionString="Data Source=192.168.1.254;Initial Catalog=Homa_newControl_Zibasazi;Persist Security Info=True;User ID=sa;Password=r2+www.google.com;Max Pool Size=10000;MultipleActiveResultSets=True;"/>
    <add name="ReservationEntities" connectionString="Data Source=192.168.1.254;Initial Catalog=Homa_newControl_Zibasazi;Persist Security Info=True;User ID=sa;Password=r2+www.google.com;Max Pool Size=10000;MultipleActiveResultSets=True;"/>
    <add name="CrossPlatformEntities" connectionString="Data Source=192.168.1.254;Initial Catalog=Homa_newControl_Zibasazi;Persist Security Info=True;User ID=sa;Password=r2+www.google.com;Max Pool Size=10000;MultipleActiveResultSets=True;"/>
    <add name="GraphicEntities" connectionString="Data Source=192.168.1.254;Initial Catalog=Homa_newControl_Zibasazi;Persist Security Info=True;User ID=sa;Password=r2+www.google.com;Max Pool Size=10000;MultipleActiveResultSets=True;"/>
    <add name="WebDesignEntities" connectionString="Data Source=192.168.1.254;Initial Catalog=Homa_newControl_Zibasazi;Persist Security Info=True;User ID=sa;Password=r2+www.google.com;Max Pool Size=10000;MultipleActiveResultSets=True;"/>

  </connectionStrings>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="HomaVersion" value="3.0.0"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <hostingEnvironment shadowCopyBinAssemblies="false"/>
    <customErrors mode="Off" defaultRedirect="~/Home/Error"/>
    <caching>
      <sqlCacheDependency enabled="true" pollTime="1000">
        <databases>
          <add name="Contact" connectionStringName="ContactConnection" pollTime="1000"/>
        </databases>
      </sqlCacheDependency>
    </caching>
    <httpRuntime executionTimeout="90" maxRequestLength="20000" useFullyQualifiedRedirectUrl="false" requestLengthDiskThreshold="8192"/>
    <compilation debug="true" targetFramework="4.6">
      <assemblies/>
    </compilation>
    <!-- <httpCookies requireSSL="true" httpOnlyCookies="true" /> -->
    <authentication mode="Forms">
      <!-- <forms name="Radyn" loginUrl="~/Security/User/Login" requireSSL="true" timeout="2880"> -->
      <forms name="Radyn" loginUrl="~/Security/User/Login" timeout="2880">
        <credentials passwordFormat="Clear">
          <user name="host" password="8BMD1qUHoMMnwVGgfR4OAw=="/>
        </credentials>
      </forms>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
        <add namespace="Radyn.WebApp.AppCode.Base"/>
        <add namespace="Radyn.Web.Mvc.UI"/>
      </namespaces>
    </pages>
    <httpHandlers/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="10485760"/>
      </requestFiltering>
    </security>
    <handlers>
      <remove name="asset"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="WebResource" path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader"/>
    </handlers>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <telerik>
    <webAssets useTelerikContentDeliveryNetwork="false"/>
  </telerik>
  <radyn>
    <language defaultCulture="fa-IR"/>
    <log enabled="true" destination="DataBase" logPath="c:\radynLog" connectionString="Data Source=(local);Initial Catalog=khuzpaydar;Persist Security Info=True;User ID=khuzpaydar;Password=mzh#rY09Q_R;Max Pool Size=10000;MultipleActiveResultSets=True;"/>
    <smtp mailHost="webmail.khuzpaydar.ir" mailPort="25" mailPassword="7y!$koRZ^j" mailUserName="info1@radyn.ir" mailFrom="info@khuzpaydar.ir" mailSenderDisplayName="khuzpaydar" enableSSL="false"/>
    <sessionState timeout="25"/>
    <GetWayInfo TerminalId="" UserName="" Password="" CertificatePath="" CertificatePassword=""/>
    <congress key="siXJpBrRHcSaiUcprxvTlw=="/>
    <CongressScheduler>
      <dailySchedulerTriggers>
        <add Id="1" class="DateChanged" hour="15" minute="10"/>
      </dailySchedulerTriggers>
    </CongressScheduler>
  </radyn>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITokens">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_ITokens1"/>
        <binding name="BasicHttpBinding_IVerify">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_IVerify1"/>
        <binding name="PaymentGatewayImplementationServiceBinding">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ikc.shaparak.ir/TToken/Tokens.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITokens" contract="IranKishToken.ITokens" name="BasicHttpBinding_ITokens"/>
      <endpoint address="https://ikc.shaparak.ir/TVerify/Verify.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVerify" contract="IranKishVerify.IVerify" name="BasicHttpBinding_IVerify"/>
      <endpoint address="https://www.zarinpal.com/pg/services/WebGate/service" binding="basicHttpBinding" bindingConfiguration="PaymentGatewayImplementationServiceBinding" contract="ZarinPalService.PaymentGatewayImplementationServicePortType" name="PaymentGatewayImplementationServicePort"/>
    </client>
  </system.serviceModel>
</configuration>