@using Radyn.Common.Definition
@using Radyn.Utility
@using Radyn.Web.Mvc
@model Dictionary<int, bool>
    @if (Model.Count > 0)
    {
        <div class="item-row fit" dir="@Resources.Design.Direction">
            <div class="table-row-item table-c-fit">
                <div class="item">
                    <div style="float: right">
                        @foreach (var item in Model)
                        {


                            Html.Radyn().CheckBox().ID("SelectChipFood-" + item.Key).Text(item.Key.ToString()).Name("SelectChipFood").Value(item.Key.ToString()).Checked(item.Value).Render();

                        }
                    </div>

                </div>
            </div>
        </div>
    }
