@using Radyn.Web.Mvc

@using Radyn.Utility
@model IEnumerable<Radyn.Chat.DataStructure.ChatConversation>
@{
    ViewBag.Title = Resources.Congress.ChatReport;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{}
<br/>
<h2>
    @Resources.Congress.ChatReport</h2>
<table border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
     <td>
     @{Html.Radyn().ImageActionLink().ActionName("Index").ControllerName("Managment").Area("Managment").Text("بازگشت به پنل مدیریت").Align(ImageActionLink.Alignment.Right).ImageUrl(Url.Content("/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
     </td>
    </tr>
    <tr>
        <td>
        @{Html.Radyn().Grid(Model).Name("Grid").HtmlAttributes(new { style = "width:500px;" }).Columns(columns =>
            {

                columns.Template(chatConversation => DateTimeUtil.ConvertDateToPerisanMonth(chatConversation.Time.ShamsiDate()) + " | " + chatConversation.Time.ToShortTimeString().ConvertNumLa2Fa()).Title("زمان").Width(150).HeaderHtmlAttributes(new { style = "text-align:center" });
                columns.Template(chatConversation => chatConversation.SenderUsername + " / " + chatConversation.ReceiverUsername).Title("مابین").Width(200).HeaderHtmlAttributes(new { style = "text-align:center" });
                columns.Template(chatConversation =>
                                 Html.ActionLink("جزئیات مکالمه", "ConversationDetail", "Chat", new { area = "Chat", sId = chatConversation.SessionId }, null)).Encode(false);

            })

  .Pageable(paging => paging.Enabled(true))
  .Filterable(filtering => filtering.Enabled(true))
  //.Footer(true)
  .Render();}
        </td>
    </tr>
</table>


