@using Radyn.Web.Mvc
@model IEnumerable<Radyn.Chat.DataStructure.ChatConversation>
@{
    ViewBag.Title = Resources.Congress.ChatReport;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{}
<h2>
    @Resources.Congress.ChatReport</h2>
<table border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
        <td style="text-align: right;">
            @{Html.Radyn().ImageActionLink().ActionName("ChatReport").ControllerName("Chat").Area("Chat").Text("بازگشت").Align(ImageActionLink.Alignment.Right).ImageUrl(Url.Content("/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
        </td>
    </tr>
    <tr>
        <td>
            <div style="background-color: whitesmoke; color: darkblue; text-align: left; height: 300px;
                direction: ltr; width: 600px; font-weight: bold; overflow-y: scroll; border: solid 1px grey;">
                @foreach (var item in Model)
                {
                    <div>
                        <font color="red">@item.SenderUsername :</font> @item.Message [
                        @item.Time.Hour:@item.Time.Minute:@item.Time.Second ]</div>
                }
            </div>
        </td>
    </tr>
</table>
<br />
