@using Radyn.Congress.DataStructure
@using Radyn.Congress.Tools
@using Radyn.FileManager
@using Radyn.Web.Mvc
@using Radyn.WebApp.AppCode.Security
@using Radyn.WebApp.Areas.EnterpriseNode.ExtentionTools

@using Radyn.Utility
@model IEnumerable<RefereeCartable>
    @{
        ViewBag.Title = Resources.Congress.Cartabl;
        Layout = "~/Views/Shared/LookUpLayout.cshtml";
    }
    @section Head{
        <script>

            function GetCheckAll(i) {
                if ($("#CheckSelectAll").attr("checked") == "checked") {
                    if ($("#" + i + "").val() != i)
                        $("#CheckArticle").append("<input type='hidden' name='Articlec" + i + "' id='" + i + "' value='" + i + "' />");
                } else {
                    $("#" + i + "").remove();

                }
            }

            function GetCheck(i) {
                if ($("#" + i + "").val() != i)
                    $("#CheckArticle").append("<input type='hidden' name='Articlec" + i + "' id='" + i + "' value='" + i + "' />");
                else {
                    $("#" + i + "").remove();

                }
            }


            function SelectAllArticle() {

                if ($("#CheckSelectAll").attr("checked") == "checked") {
                    $("[id^='SelectAllArticle']").each(function () {
                        $(this).attr("checked", true);

                        GetCheckAll($(this).val());
                    });
                } else {
                    $("[id^='SelectAllArticle']").each(function () {

                        $(this).attr("checked", false);

                        GetCheckAll($(this).val());
                    });
                }
            }

            function Delete() {
                $.post("/Congress/Referee/LookUpArticleAssign", $('form[action^="/Congress/Referee/LookUpArticleAssign"]').serialize(), function (data) {

                    ShowRadynMessage();
                    $(this).attr("checked", false);
                    location.reload();

                });
            }
        </script>
    }
    @section PageAction {
        <div class="button-div m-btn waves-red i-delete">
            @{Html.Radyn().ImageActionLink().Text(Resources.Congress.RemoveFromDashboard).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "Delete();" }).Render(); }

        </div>
        <div class="button-div m-btn waves-red i-return">
            @{Html.Radyn().ImageActionLink().Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Left).OtherAttribute(new { onclick = "Close_thisModal();" }).Render(); }

        </div>

    }
    @section PageActionDown {
        <div class="button-div m-btn waves-red i-delete">
            @{Html.Radyn().ImageActionLink().Text(Resources.Congress.RemoveFromDashboard).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "Delete();" }).Render(); }

        </div>
        <div class="button-div m-btn waves-red i-return">
            @{Html.Radyn().ImageActionLink().Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Left).OtherAttribute(new { onclick = "Close_thisModal();" }).Render(); }

        </div>
    }
    @using (Html.BeginForm())
    {
        <div class="radynForm">
            <div class="fit">
                @{
                    Html.Radyn().Grid(Model).Name("RefereeCartableGrid").HtmlAttributes(new { style = "width:98%;margin: 0 auto" }).Columns(columns =>
                    {
                        columns.Template(congressArticle =>
                            "<input type='checkbox' name='Article' onchange= GetCheck('" + congressArticle.ArticleId + "') alt='" + Resources.Common.Select + "'  id= 'SelectAllArticle " + congressArticle.ArticleId + " ' value= " + congressArticle.ArticleId + " />")
                            .Title("<input type='checkbox' class='checkboxGroups'  onclick='SelectAllArticle();' style='cursor: pointer'   id='CheckSelectAll' name='CheckSelectAll' />")
                            .Width(100).HeaderHtmlAttributes(new { style = "text-align:center" }).Encode(false);
                        columns.Template(congressArticle => congressArticle.Article.Title ?? string.Format(Resources.Congress.Article, SessionParameters.CurrentCongress.Configuration.ArticleTitle)).Title(string.Format(Resources.Congress.ArticleTitle, SessionParameters.CurrentCongress.Configuration.ArticleTitle)).HeaderHtmlAttributes(new { style = "text-align:center" }).Width(200);
                        columns.Template(refereeCartable => refereeCartable.Article.Code).Title(Resources.Congress.Code).Width(70).HeaderHtmlAttributes(new { style = "text-align:center" });
                        columns.Template(refereeCartable => refereeCartable.Visited ? Resources.Common.Yes : Resources.Common.No).Title(@Resources.Congress.Visited).Width(80).HeaderHtmlAttributes(new { style = "text-align:center" });
                        columns.Template(refereeCartable => refereeCartable.Status.ToString().ToEnum<Enums.FinalState>().GetDescriptionInLocalization()).Title(Resources.Congress.FinalState).Width(80).HeaderHtmlAttributes(new { style = "text-align:center" });
                    })

                        .Sortable(sorting => sorting.Enabled(true))
                        .Pageable(paging => paging.Enabled(true))
                        .Filterable(filtering => filtering.Enabled(true))
                        .Footer(false).Render();
                }
            </div>
        </div>
        <input type="hidden" name="RefreeId" value="@ViewBag.refreeId" id="RefreeId" />
        <div id="CheckArticle"></div>
                }
